[2015-08-03 13:40] DanielGibson opened #1 "Please discuss here!"
To keep the OpenTechBFG issue tracker overseeable, feel free use the issue tracker of this pseudo-project as a discussion forum

[2015-08-03 13:54] kortemik commented on #1
Awesome, now we can have can have OpenTechBFG repo just for code issues and discuss the rest here. I always limited the answers because I didn't want to flood the issue tracker but now there is no need for that.

[2015-08-03 14:05] BielBdeLuna commented on #1
great, I always found strange that Github doesn't provide with an infrastructure for discussing the projects.

[2015-08-03 14:07] BielBdeLuna opened #2 "Bullet Physics"
do you guys see plausible to include it in the code?

[2015-08-03 14:19] BielBdeLuna opened #3 "giving the inputs it's own thread"
Nvidia details this as an issue to port Doom3BFG to Andorid in this article: https://developer.nvidia.com/content/bringing-doom-3-bfg-edition-nvidia-shield

it seems that the input makes the app to crash when loading a map because the inputs get paused or doesn't keep working and Androd detects it as a crash

maybe we could incorporate Nvidia's solution to the engine?

also in this article it is i

[2015-08-03 14:21] DanielGibson commented on #2
What's wrong with Doom3 physics?

[2015-08-03 14:23] DanielGibson commented on #3
Nope, on some platforms (and with SDL) the input must be polled in the thread that created the window.

Also: Why incorporate a solution for a problem we don't have?

[2015-08-03 14:27] BielBdeLuna commented on #3
because we might want to incorporate Android as platform in the future isn't it?

but if you say that SDL already takes charge for this... then it's fine.

[2015-08-03 14:28] BielBdeLuna commented on #2
this: https://www.youtube.com/watch?v=Cmz7Q3zzp9A

[2015-08-03 14:31] DanielGibson commented on #2
and you expect other physics engines to perform much better for that scenario?

[2015-08-03 14:34] BielBdeLuna commented on #2
yes if they use more modern resources and not only the CPU.

try to do this in Doom3 https://www.youtube.com/watch?v=INmMohKp7KY and you'll see if it can do it at all.

[2015-08-03 14:37] DanielGibson commented on #2
And according to motorseps comment, bullet isn't even faster:

[2015-08-03 14:43] DanielGibson commented on #2
well, maybe indeed try that with doom3.
If it's not ragdolls but just solid objects that are thrown around, it'll be faster than the ragdolls test.
Not sure how much faster and up to what amount of objects, so it should indeed just be tried out, if you're interested in this topic.

[2015-08-03 15:08] BielBdeLuna commented on #2
Motorsep has been proven wrong other times though. but the case he raises here is true. I bet the improvement on the amount of FPS doesn't have to do to any improvements to the phsycs but the fact that the renderer was multi-threaded. therefore the CPU was more free to attend to the physics calculus, and also maybe on improvement on the maths in the CPU.

Also with Bullet or even ODE, we might gai

[2015-08-03 16:10] DanielGibson commented on #2
Oh, I'd never overestimate Motorseps competence, don't worry ;-)
In this case at least he actually tried out bullet physics, so that's the best data I have on that topic.

I think physics code in bfg is also multi threaded, that explains a linear (with number of CPU cores) speedup. Which is pretty cool.

Looks like bullet3 isn't nearly done.

If anyone writes a clean integration of bullet into OTE

[2015-08-03 17:53] BielBdeLuna commented on #2
:)

I didn't know the physics was multi-threaded, I knew the blending task was passed to the GPU, and that the some matrix calculus was optimized via SIMD optimizations.

where is it stated that the Physics was multi-threaded, in the code maybe?

[2015-08-03 21:17] BielBdeLuna commented on #2
here is the documentation I have on idTechX:

http://www.fabiensanglard.net/doom3_documentation/index.php
http://www.fabiensanglard.net/doom3_bfg/index.php

and the idTech 4 is also great:

http://www.fabiensanglard.net/doom3/index.php

[2015-08-03 21:30] ghost commented on #1
Thank you for this, now I can stop flooding issue pages.

[2015-08-03 21:51] ghost commented on #2
Motorsep's post is old, so it could be that Bullet was slower in an old version of Blenders game engine in 2013. The Blender devs have improved a lot on the game engine in the 2.7 series.

I created a small fps game in Blender 2.73 a while back which had convex hulls on all models. The gun fires bullets which has around 60 vertexes, setting the firing to a machine gun that streams about 1000+ p/s

[2015-08-03 21:52] ghost commented on #2
@BielBdeLuna I think Carmack spoke about multi-threading code for BFG at a Quakecon event.

[2015-08-03 22:46] BielBdeLuna commented on #2
ok

[2015-08-04 17:11] kortemik commented on #1
http://sourceforge.net/projects/opentechengine/files/snapshot/Windows/ latest builds are now here.

VisualStudio builds require debug libraries available and that won't be the case unless one has VS(2012?) installed. So only the MinGW ones work w/o it. It can be arranged so that the Release versions are built too but atm it's no-no.

Linux builds atm miss the shared objects for cegui but that can

[2015-08-04 22:15] BielBdeLuna commented on #1
at the moment binaries for Linux make no sense, only when there is a game done with the engine making binaries will make some sort of sense.

[2015-08-04 23:14] ghost commented on #1
I've upgraded to VS 2015 community edition, it has a bit more support for the open source community. I ran into issues with VS express 2013 on Win 10 due to some missing linker with kernel32.

[2015-08-05 00:33] ghost commented on #1
VS 2015 community edition also has an option for git integration.

It also includes Android development now.

[2015-08-05 01:31] ghost opened #4 "Cegui GLSL sandbox"
Would it be possible to integrate something like this into the cegui interface for shader experimentation real-time?

http://glslsandbox.com/e#26785.0

[2015-08-05 07:00] kortemik commented on #4
You mean glsl or CG live editor?

[2015-08-05 07:08] kortemik commented on #1
@BielBdeLuna yes, they are only for CI purposes, aka we see the code compiles fine.

The compiling happens here:
https://travis-ci.org/OpenTechEngine/OpenTechBFG (Click on the build job #xxx.1 etc)

And for Visual Studio here:
https://ci.appveyor.com/project/kortemik/opentechbfg

@Yetta1 It's possible to use VS2015 on CI too but would that bring any benefit for us? It's just used for compiling aft

[2015-08-05 07:36] ghost commented on #4
GLSL/CG live editor/interpreter for testing shaders realtime in the engine, possibly in a special map containing something like a cornell box. Getting code results realtime and having the console save out the shaders to the game folders as the vertex and fragment files used in bfg would help a lot, instead of coding in a IDE/notepad, then loading the shader up in the console.

However I accept tha

[2015-08-05 07:47] ghost commented on #1
@kortemik I had issues installing VS 2015 Community, so I just fired up Code Blocks with MinGW and opened the .sln from my VS build of OTE and linked the include and lib folders needed. Worked without any issues. I seem to prefer Code Blocks more, but I stick to VS for some reason, which is stupid considering I also use Linux on my other machine with C::B.

[2015-08-05 07:56] ghost commented on #1
Heads up.
Intel has a promotional offer on it's Game development tools for the Professional version ending 31 August, it is cross-platform and has some nice tools included such as OpenCL Builder, DirectX/OpenGL analyzers, context sensing and more.

https://software.intel.com/intel-inde

Contains a version comparison.
https://software.intel.com/en-us/intel-inde/try-buy

[2015-08-05 08:01] kortemik commented on #1
I don't think it surprises anyone that I use eclipse. Before that Emacs was my choice but on large scale project like this, emacs plugins I used for code indexing got quite heavy to run. Let's see about that Intel wonder.

[2015-08-05 08:09] ghost commented on #1
I'm downloading the Intel software now, 2.1gb installer. I didn't see a linux download, only for OS X and Windows. Mainly grabbing it for the Graphics analyzers and the OpenCL Code builder might come in handy once I understand that. I use to use Eclipse, it's a damn nice IDE, however I ran into some issues with the latest CPP version which is why I went over to C::B.

[2015-08-05 08:11] kortemik commented on #1
What kind of problems? I have had none this far, but then again, I use command line tools for anything else than writing/lookups.

[2015-08-05 08:15] ghost commented on #1
I can't remember what exactly it was but had issues linking libraries, spent hours looking for an answer on forums and found nothing that worked, eventually I found a post that suggested using C::B and everything worked.

[2015-08-05 10:49] ghost opened #5 "Future of gaming on Linux"
I haven't tried SteamOS and not sure as to what changes Valve's team is making to the system, but it leaves me to wonder whether or not they will be using the real-time kernel to focus the system resources on the games.

How long will it take before technologies such as OpenCV, OpenCL, HSA, Vulkan become part of the game development pipeline? Real-time raytraying through OpenCV using OpenCL and HS

[2015-08-05 11:25] ghost commented on #1
@kortemik Intel INDE has direct support for Eclipse, I just read that it includes the Intel Compiler, which i read the other day is quite good. I'll have to install Eclipse again as it seems that the installer for INDE won't recognise VS 2015 community.

[2015-08-05 16:21] ghost commented on #1
Vulkan tutorial Github project, still early stages, contains the Mantle API reference and other documentation. Watch the video on the site showcasing the performance of Vulkan on Dota 2 with added creeps in the lane fight using Intel HD graphics.

http://vulkan-tutorial.com/
https://github.com/Overv/VulkanTutorial

[2015-08-06 14:44] Yetta1 commented on #3
Intel INDE 2015 which has a free professional version available until 31 August includes tools for Android development, it also comes with a Android debugger. INDE works with Visual Studio and Eclipse. It also includes tools for OpenCL. So grab it while it's still free. Full price is $299.

https://software.intel.com/en-us/intel-inde/try-buy

[2015-08-07 15:16] BielBdeLuna opened #6 "scripting and scripting related stuff"
I'm currently adding the path routines to the AI and tried something: in c++ and other languages you can write parts of the methods of a class in another file.
This might prove useful in order to have the code well separated in groups of methods or functions that correspond to an area, could this be done in idTechX script? it can be done

as long as in the script-object (idTechX has no objects, bu

[2015-08-09 03:00] ghost commented on #1
Is it ok if I point Microsoft to the project to help me with my build issues on VS 2015?

[2015-08-09 06:11] kortemik commented on #1
Yes of course it is. We are open source :)
On Aug 9, 2015 6:00 AM, "Yetta1" notifications@github.com wrote:

[2015-08-09 06:54] BielBdeLuna commented on #1
@Yetta1 do you think they will help you with anything?

[2015-08-09 17:20] ghost commented on #1
They are helping me find the bug in VS 2015 on msdn.

[2015-08-09 17:36] kortemik commented on #1
I think it's namespace related at least I found multiple bugs on VS2013 but did make some changes so it built and stopped caring..

MSVC needed some strange forward declarations which gcc, clang and mingw were very fine without:
https://github.com/OpenTechEngine/OpenTechBFG/commit/60ff0dff30e37722527451775241ffb0f22ef4e7

[2015-08-09 17:55] ghost commented on #1
@kortemik I'm not really sure what namespaces are or how to fix it :/.

Here are some of the errors from the output:

[code]

and

[code]

I've noticed that VS 2015 did not install some dynamic linked libraries needed for the debug binary you uploaded to the snapshots, msvcr120d.dll and msvcp120d.dll. I downloaded the dll's seperately, however the engine crashes when opened. Only release builds ha

[2015-08-10 21:07] kortemik opened #7 "Doxygen"
How fancy

http://opentechengine.github.io/doxygen/html/d4/dbe/class_b_f_g_1_1_c_e_g_u_i_menu_1_1_menu_interface.html

I bet you like it too @DanielGibson

[2015-08-10 21:09] DanielGibson commented on #7
hmm the call graphs can indeed be helpful.

what is `BFG::BFG::*` in http://opentechengine.github.io/doxygen/html/da/d00/struct_b_f_g_1_1_b_f_g_1_1bimage_file__t.html about?

[2015-08-10 21:10] kortemik commented on #7
It's a bug, I noticed it too. Image.h at least is included inside a
namespace somewhere, will fix tomorrow.

On Tue, Aug 11, 2015 at 12:09 AM, Daniel Gibson notifications@github.com
wrote:

[2015-08-10 21:28] Anthony-Gaudino opened #8 "Code formating (Continuation)"
Sorry for spamming the `Issues` in OTE!

Thanks @DanielGibson, I was really thinking in installing XFCE, there's some things they made on Gnome 3 that I don't like, and it became much more resource hungry, I like a simple desktop that just works and consume low resources.

@Yetta1 note that Awesome window manager is a `Windows Manager` and not a `desktop environment`, so it won't come with many of

[2015-08-10 22:10] ghost commented on #8
Actually I was the one that highjacked the previous thread, sorry about that.

@Anthony-Gaudino I know. I had a custom distro of Arch I made a few years ago using the enlightenment DE, only reason I want Awesome is to force myself to use terminals to get better at working on Linux. There is a Crunchbang++ project which is continuing Crunchbang, the Crunchbang devs have moved onto a new distro call

[2015-08-10 22:11] ghost opened #9 "Linux discussion and support."
Creating this for any future issues on Linux, discussions, tips & tricks etc.

[2015-08-11 00:30] ghost commented on #9
Problem building with correct directory.

[code]

[2015-08-11 09:07] kortemik commented on #8
I use WindowMaker, before that I was very keen on dwm and after that xmonad but they both were tiling and nowadays tiling is not that fun with multiple desktops where virtual machines run and roll so I went back to WM. Sawfish from the old gnome is ok too.

[2015-08-11 13:36] kortemik opened #10 "Front-Page"
We have a very nice front page here: http://opentechengine.github.io/

It's generated out of this repository:
https://github.com/OpenTechEngine/opentechengine.github.io

I think it needs some improvements to be more fancy. Feel free to pull request your updates. ~~Please note that the repository is quite huge (1.5G) due to doxygen.~~

[2015-08-11 14:00] BielBdeLuna commented on #6
idTechX c++ code controls the direction of the character with a desired direction and a current direction, this is accessible in the scripts via getTurnDelta().

With this I've implemented a 100 degree turn + a doge turn so we could have characters doing a 180degree-like turn,
no monster or npc in Doom3 can walk backwards, to the point that the boolean that connects idAI with every script that thi

[2015-08-11 14:48] kortemik commented on #6
It looks quite the thing I thought it should be like. I tried the same kind of thing, only that I had run animations working nothing else. The upper and lower body animations are split, right? It has only two channels for them afaik, torso and legs.

[2015-08-11 14:51] BielBdeLuna commented on #6
yes, I added a motion channel back in dhewm3 but adding threads might not be the right decision so I didn't pursuit that direction further.

it would be great to have tow threads for the arms, so we could have sword fighting with shields. Anyway we can try it once we have a working AI scripting.

[2015-08-11 15:10] kortemik commented on #7
@DanielGibson fixed that one. The downsize of doxygen is it's size, I tried to get it crafted with travis so only the changes would be commited but I think I hit some bug with it :/ It's not something I want to put too much effort into either.

[2015-08-12 02:13] ghost commented on #9
Ran Doom3 through terminal using DRI_PRIME=1 ./doom.x86 from the idsoftware linux build. Getting fluctuations of 15-30 fps at 1280x800 and 15-60fps at 640x480. The fps seems to be at an average of 20.

[2015-08-12 02:22] ghost commented on #9
Tried running OpenTechEngine using DRI_PRIME=1, usually the build crashes on startup, after issuing the DRI command the terminal outputs the engine startup, the error created is as follows:

[code]

May be possible that it needs a rebuild, but currently I still receive the build error as previously listed.

[2015-08-12 04:54] kortemik commented on #9
there is propably s3tc package on your distro which can patch you over that
but I think you will have more missing features after.

It's still worth to try that pkg.
On Aug 12, 2015 5:22 AM, "Yetta1" notifications@github.com wrote:

[2015-08-12 10:50] BielBdeLuna commented on #9
have you tried "+set r_useOpenGL32 0" ? this error seems to be due the driver not reaching OpenGL32 in compatibility context ( OpenGL now has compat and core contexts) most mes drivers reach core context to the OpenGL version they announce but  some of them they don't reach compat context to the OpenGL version they announce, compat include more OpenGL extensions in a well defines list of extension

[2015-08-12 12:32] ghost commented on #9
Thanks for the advice guys, it seems to be a driver issue with Radeon, the same error message appears on other games being run through Wine as well, like Counter-Strike Source. I know this card has at least OpenGL 3.3 so it should work.

Just need to play around with different drivers and xorg configs as I would also like some better performance.

Vanilla Doom 3 gets at least 40-60fps on Windows w

[2015-08-12 13:34] BielBdeLuna commented on #9
it seems like a core vs compat issue in the graphics drivers probable the OpenGL extensions are from compat, or even out in the misc section, and the drivers only have core OpenGL level. the drivers only announce the OpenGL level if they have all the necessary extensions for the profile they are required to use, so the Hardware might be able to render using the profile or the version of OpenGL, ev

[2015-08-12 14:07] ghost commented on #9
@BielBdeLuna The mesa link you gave points to the oibaf gallium drivers which I have installed. I think it may be possible that there is a problem between the gallium drivers, the newer kernel i'm using and the Linux Mint's repositories containing older packages.

I'm still having problems building a working release of OTE with Eclipse, instant crashes. Still I have been able to run Nexuiz classic

[2015-08-12 19:03] BielBdeLuna commented on #6
finished with the translational movement

now onto combat, and one I finish combat, I'll try to test the code to make it functional so we could have enemies (not yet prepared for the player)

It's interesting how d3 code was done:

idPlayer is a idActor
idAi is a idActor

idActor is mostly the motor part of the characters in-game, the animation part, and the ikpart, also almost all the scripting c

[2015-08-12 20:44] motorsep commented on #2
@Yetta1 Try disabling shadows with your imp tests and see if that helps performance.

As you can see here, BFG doesn't lag much with that many Imps: https://www.youtube.com/watch?v=qPRs-OQi1_g&feature=youtu.be&t=2m5s

AI and rendering frontend suffer, but even with that the game doesn't lag much.

Non-shooting monsters don't even stress performance that much: https://youtu.be/X1oM1m8ZO44?t=21s

[2015-08-12 21:15] BielBdeLuna commented on #2
@motorsep in the case of the imps, if you disable their light do they lag as much? I mean it's the multiple lights that lag the game or the creation of the entities of the projectiles?

[2015-08-12 21:17] motorsep commented on #2
@BielBdeLuna I am saying is that it doesn't lag for me. That's what I am showing on the videos.

Original Doom 3 lagged for me with 4 zsecs attacking me. And I mean, it _lagged_. But not Doom 3 BFG.

Although I am incompetent in the whole subject, so what do I know ....

[2015-08-12 22:11] BielBdeLuna commented on #2
so Doom3 the entities themselves also contributed to the lag, not only the added lights, so they also changed something with way of handling the entities.

Yes, the other day I tried to spawn several instances of the allied soldiers and I was surprised when there where so much of them they started to pile up one over the others even in two rows, and it was true, it was the physics that made it slo

[2015-08-12 23:22] ghost commented on #2
@motorsep I watched your videos a few days ago. It could be the shadows, however I get the same kind of lag on Rage when enemies explode, similar to how the imps do, it's a lot worse on Rage as they added a lot more gibbage to the animation. Then again my hardware is quite low end for todays standards.

However I have been playing Dota 2 reborn lately and tried out the hero tester mode which allow

[2015-08-12 23:29] motorsep commented on #2
Well, you can't be seriously expecting multithreading benefit on single core CPU from 2006 :) In your case Doom 3 BFG plays just like old Doom 3.

[2015-08-12 23:45] ghost commented on #2
@motorsep It's a dual core 64-bit cpu.

[2015-08-12 23:56] motorsep commented on #2
@Yetta1 I didn't think Celeron from 2006 would be a dual core CPU o.O

[2015-08-13 00:02] ghost commented on #2
@motorsep It was among the first, came out around the same time as the socket 775 Core 2 Quads. It performs quite well for what it is, manage to run many new games with medium to high settings with an average 25-40fps, but I guess my saving grace is the low-latency memory I got since my mobo can only take 4gb ram.

I'm waiting for AMD's hybrid systems to mature a bit, before I upgrade. Some nice t

[2015-08-13 00:04] motorsep commented on #2
@Yetta1 If you are going AMD, you can pretty much forget about BFG engine, because BFG and AMD don't get along at all.

[2015-08-13 00:07] ghost commented on #2
@motorsep I play rbdoom3bfg and vanilla doom3bfg on my AMD dual core ql-64 laptop with HD 3200 gpu and 2gb ddr2 with an average of 25-35fps. The gpu uses 256mb from the ram.

[2015-08-13 20:41] Anthony-Gaudino commented on #8
I have formatted two files of each project (OTE and RBDOOM 3), you can see them here: https://gist.github.com/Anthony-Gaudino/ee1bd1d197c0a696e978?ts=4 and check if it's looking OK.

[2015-08-14 07:33] ghost commented on #5
Found a great kernel that seems to work well with my AMD radeon HD 3200, it's called the liquorix kernel. Gameplay feels smooth however I get some micro-stutters, check it out:

http://liquorix.net/

[2015-08-14 09:20] BielBdeLuna commented on #5
real time everything will be possible at this rate

[2015-08-14 12:12] ghost commented on #5
New interaction sensor technology using radar in development, would be great with VR applications.
Project Soli:
https://www.youtube.com/watch?v=0QNiZfSsPc0

[2015-08-14 14:46] ghost commented on #5
Another interesting thing to try is using Qemu+kvm+vfio to play windows games on a virtual machine without lag.

[2015-08-16 00:52] motorsep opened #11 "Collisions issue fix"
So, finally there is a breakthrough with collisions ( here is the test case https://drive.google.com/open?id=0BwE6dxM0O2PsQUNncWw0aGFuZms ):

http://www.pasteall.org/60504/diff

not mine, but I tested and it works. The only issue that is left is anim stuttering: https://www.youtube.com/watch?v=q-4Z7CTYodk

[2015-08-16 01:28] BielBdeLuna commented on #11
what was the problem originally?

[2015-08-16 02:18] motorsep commented on #11
You would get stuck on the edge. I provided a test case, so you could just try it and see what it does :)

https://www.youtube.com/watch?v=sE_A6awytSE

[2015-08-16 02:25] BielBdeLuna commented on #11
ok, this is for changing slopes? seems pretty interesting!

[2015-08-16 02:28] motorsep commented on #11
I could happen anywhere (I haven't tested flat floors made of models, only terrains, and that piece is a part of the terrain, replicated as brushes)

[2015-08-16 02:32] BielBdeLuna commented on #11
yes, it happens a lot in that map! I had never found a bug like this!, let's add this to the code!

who is the author of the diff?

the stuttering seems to happen anyway with the bug anyway, so solving the bug doesn't introduce the stuttering in the animation.

[2015-08-16 02:37] motorsep commented on #11
"NagaHuntress" is who fixed it.

I have never checked third person view with that bug, so I did know :/ I wonder now how to fix stuttering now.

[2015-08-16 02:38] BielBdeLuna commented on #11
is there a discussion about this somewhere? who is NagaHuntress?

[2015-08-16 02:41] BielBdeLuna commented on #11
in case pasteall deletes it, here is the diff:

[code]

[2015-08-16 02:55] BielBdeLuna commented on #11
@motorsep i bet the stuttering is only in the animation script, the model for a moment thinks he is falling or her is not walking (maybe for a single frame) and so he stutters,

when the player is trapped there, he can't jump, maybe he thinks he is falling (you can't jump when not ON_GROUND, and I think it's the only time he can't jump) maybe c++ can't jump but c++ is reporting ON_GROUND anyway, t

[2015-08-16 10:23] DanielGibson commented on #11
Yeah right "you" provided a testcase. I recreated the buggy part of your terrain mesh in brushes back then to get this minimal testcase.

Back when we first debugged this issue, treb proposed a patch to do q3 style collision detection there which gave the same results (you don't get stuck anymore on that edge, but it stutters a bit).
For some reason you (motorsep) didn't want it.

Unfortunetely I

[2015-08-16 10:30] DanielGibson commented on #11
I just found trebs patch for dhewm3:

[code]

[2015-08-16 10:31] BielBdeLuna commented on #11
which one should we apply?

I'll copy Trebs solution to the issue...

[2015-08-16 14:15] motorsep commented on #11
@DanielGibson Just wow. "I provided" means I posted it here for you, people. You made the test case from the map I made, sure. Sorry if I didn't put copyright note here.

Trebor's fix might be as well as good, but it's for player only. The new fix addresses the issue in the collisions code, meaning it is potentially a fix for NPC and AI (although I never tested them on that ledge).

Btw, I think a

[2015-08-16 18:12] BielBdeLuna commented on #11
Motorsep, is there a forum or some web-page where this is discussed, maybe where NagaHuntress is? where did you get that fix from?

[2015-08-19 09:29] BielBdeLuna opened #12 "I added a pull request and a patch that might come in handy"
I defaulted the cvar fs_resourceLoadPriority to 0 so it makes it easier to mod the engine:
https://github.com/RobertBeckebans/RBDOOM-3-BFG/pull/241

I also added this as a patch for OTE:
https://github.com/OpenTechEngine/OpenTechBFG/pull/79

and I added an explanation for compiling in linux:
https://github.com/OpenTechEngine/OpenTechBFG/pull/77

what do you think?

[2015-08-20 23:14] ghost commented on #12
fs_resourceLoadPriority will come in handy.

However I still have issues on linux, I'm using Lubuntu 64-bit, not sure if i' doing something wrong. Getting similar messages from the other sh files.

Here is the terminal output:

tiaan@yocto-intel:~/OpenTechBFG/scripts$ sh cmake-linux-release.sh
-- The C compiler identification is GNU 4.9.2
-- The CXX compiler identification is GNU 4.9.2
-- Check fo

[2015-08-21 06:14] kortemik commented on #12
/home/tiaan/OpenTechBFG/libs/cegui/CEGUI.git

does not contain a CMakeLists.txt file.

means you didn't run:

git submodule init

git submodule update

On Fri, Aug 21, 2015 at 2:14 AM, Yetta1 notifications@github.com wrote:

[2015-08-23 08:25] ghost commented on #12
@kortemik Thank you, I did use those commands, however I never did it in the OTE path, which is why it failed. It's working now.

[2015-08-23 09:08] ghost opened #13 "FontManager.cpp build error"
ran make and got terminated with FontManager.cpp, I think it is the 'all' build target.

[code]

Running make with the ignore error flag, it's compiling the code, with some warnings and errors.

[2015-08-23 10:52] kortemik commented on #13
You need freetype-devel installed. It's a misconfiguration in our CMake
that it doesn't detect if you don't have it and build from source. It's
built only on windows.

On Sun, Aug 23, 2015 at 12:08 PM, Yetta1 notifications@github.com wrote:

[2015-08-24 13:24] ghost commented on #13
I've got the freetype6-dev packages installed and tried freetype\* as well. Doesn't seem to work, so i'll build on Win. Any way to work around this to get a Linux binary of the engine?

[2015-08-24 13:43] kortemik commented on #13
Let me fix the cmake... :|

On Mon, Aug 24, 2015 at 4:24 PM, Yetta1 notifications@github.com wrote:

[2015-08-24 14:26] kortemik commented on #13
https://github.com/OpenTechEngine/OpenTechBFG/commit/49b9af6640f4099e013a6d48a7a876b42a79871f

as promised

[2015-08-24 14:26] #13 closed, assigned to kortemik

[2015-08-24 14:53] ghost commented on #13
@kortemik Thank you, you're a legend.

[2015-08-24 15:24] ghost opened #14 "Mouse cursor disappears"
Finally got OTE to build successfully on Linux, all thanks to Kortemik :D. I noticed the new version opens a map when clicking on campaign, very nice, however I noticed that after clicking on campaign the mouse cursor vanishes. When pressing escape the mouse is still gone, but there is a sign of mouse movement when hovering over the buttons.

[2015-08-26 21:56] BielBdeLuna commented on #6
I'm becoming more embroiled with the strategy and node stuff, and since this is lasting too long, I'll just slap a remake of the code of id software there without any node action for the moment and I will start making the code functional. Because I want to test all that code and I want to try some things ( I would like to try to have a different animation thread for every leg in bippeds )

at the

[2015-08-27 02:31] Anthony-Gaudino opened #15 "File compression algorithm (reduce game loading times)"
I remember I was searching about compression algorithms some time ago and I found this one to be great https://github.com/Cyan4973/lz4 / https://code.google.com/p/lz4/ it's very fast and was used in Battlefield 4 and many other software.

Do you think it would be a good addition to the engine?

[2015-08-27 07:32] kortemik commented on #6
You mean you'd like more channels than just torso and legs?

Once we have the character in I can investigate into that :)

On Thu, Aug 27, 2015 at 12:56 AM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2015-08-27 07:35] kortemik commented on #15
Friend of mine works with lrzip so I am familiar with lzs .. but might be
for another day. pk4 is the easiest for modders.

On Thu, Aug 27, 2015 at 5:31 AM, Anthony Gaudino notifications@github.com
wrote:

[2015-08-27 19:12] BielBdeLuna commented on #6
yes, I already have coded new loops per monster in Dhewm3, another thing is the blending of animations. it could be cool to have an independent direction for every leg, this should be doable if every leg has it's own blend group.

[2015-08-28 00:38] Anthony-Gaudino opened #16 "Improve code"
While formatting code I saw some little things that can be done to improve the code:

1 - There's a lot of `for's` iterators declared in the beginning of the function, and also `for's` that uses post-increment instead of pre-increment. So I can change them from this:

[code]

To this:

[code]

which limits `i` scope to the `for` loop and increases performance by a little amount.

---

2 - Some cod

[2015-08-28 02:35] BielBdeLuna commented on #16
interesting idea, I'll try to do the same with the script code

[2015-08-28 17:46] Anthony-Gaudino commented on #16
On the `for` loops Instead of `int` one can use `unsigned int`, or `size_t` to gain even more performance and reduce chances of bugs, C++ now also has iterators (`std::iterator`) which gives other advantages but requires much more changes on the code.

Obviously the use of each one depends on the iterator / index use intention and how it is used inside the loop.

[2015-08-28 17:55] Anthony-Gaudino commented on #16
On functions there's many variables declared but uninitialized, this is ok, but maybe some should be initialized.

Some variables also may be declared latter in code, closer to where they're going to be used.

[2015-08-28 23:05] BielBdeLuna commented on #16
will this changes lower the warnings when compiling? maybe a good work would be in fixing those warnings?

[2015-08-29 02:10] Anthony-Gaudino commented on #16
The changes may lower the number of warnings, but I can't be sure.
I'm not working on improving the code right now, I'm just spotting some things that I can improve on next phases. On the code improvement phase I will review all code again and try to improve it, fix errors and warnings, I will look into what Coverity detected and use other tools to check the code.

---

On `for` loops, moving the

[2015-08-31 00:38] Anthony-Gaudino opened #17 "X-Ray engine source code available on GitHub"
I was reading about the X-Ray engine used on the Stalker games and I found out that the source code is available on GitHub. I'm not sure if it's a leaked source or the developers released it, `it's not free software` as the license file tells.

You can find it here: https://github.com/OpenXRay/xray-16

I got surprised as I didn't see much information about the source release, that's why I think it

[2015-08-31 05:19] kortemik commented on #17
The code release seems intended, however their license is not compatible with ours and I wonder what is their intention with releasing the source under such license. Perhaps to fish developers on their engine but with a license like that it's not going to fly too far..

[2015-08-31 06:54] BielBdeLuna commented on #17
this is excellent news, xray includes a planer, this could serve as inspiration for developing a planer for the AI,. this and also FEAR sdk expose several examples of a planer. a GOAP system (Goal Oriented Action Planer)

[2015-09-04 16:53] DoomedNerd opened #18 "Art Assets & Ogre 3d API, etc"
What kind of assets would be good for OTE demos and projects? Right now I'm using MakeHuman, and some model editing programs like Zbrush to make a basic generic 'player model,' as a small art project for OTE community...

Would it be out of the question to discuss porting Ogre 3d into OTE? Ogre has a load of next gen features... A demo on how to do a full game menu GUI in MyGUI (kinda like CEGUI-l

[2015-09-04 17:47] DoomedNerd commented on #5
For voice recognition, natural language synthesis, and other voice processing there is the CMU Sphinx which is also able to use OpenCL, and accelerated performance via Cuda and whatever the AMD equivalent is called... has a GPL like license. Holodecks, here we come!

[2015-09-04 19:05] BielBdeLuna commented on #18
we might need a humanoid maybe with simple hands, no toes, and no eyes.

[2015-09-06 16:37] DoomedNerd commented on #18
I'm trying to learn the work flow for Blender '.md5' exporting. I've found some fairly recent tutorial videos  from motorsep and others on Youtube, so with any luck, I can get that done soon. You want the skeleton with few joints in the hands and none for toes? That can be arranged. I'm not much of an animator, but I can do some very basic key frame animations.

[2015-09-06 20:55] BielBdeLuna commented on #18
maybe with the .blend and the base .md5mesh it could suffice, it could be very useful for my tests for the AI scripts.

[2015-09-08 14:47] DoomedNerd commented on #18
Okay, I'm working on figuring out how to properly export md5mesh and
md5anim from Blender. Any information or links that you may have on getting
an animated model into the engine might help out. All I have is Blender,
Gimp, Crazy Bump and Zbrush, though. I'm doing the clothes at the moment. I would like to keep hacking at it and learn the process. Also I'm studying Dark Radiant for map
creation...

[2015-09-08 16:14] kortemik commented on #18
I have done it many times. Are you getting error on the exporter?

-kordex

On Tue, Sep 8, 2015 at 5:47 PM, DoomedNerd notifications@github.com wrote:

[2015-09-08 17:51] DoomedNerd commented on #18
kortemik, thanks. I was getting an one error in Blender because I hadn't setup a skeleton which was required with the exporter I was using. I did get one exporter to spit out a .md5 mesh of a cube with a test texture, but when I loaded it into modelviewer_0.93a, the only thing I could see is the origin point axis - no mesh or texture. The one I'm going to try to get to work next is this one, and i

[2015-09-08 19:31] BielBdeLuna commented on #18
yes Nemyax's exporter is the best of the two

[2015-09-09 15:29] ghost commented on #5
Another language to look out for is Google's Go which has performance close to C++, it also has it's own web server built in from what I've read, so it could be useful for multi-player servers and apparently handles coroutines quite well, which will help with AI.

[2015-09-09 15:33] ghost opened #19 "Going to be away for a while."
Hi guys, I'm in the process of moving to another country and won't be taking my desktop with me, so I'll be away from the project for a while until I have everything settled and built a new system. I don't want to release the assets I have so far as I want the release to be a surprise. I'm not sure how long I will be away from the project, so if I'm scarce it's due to the move.

[2015-09-09 23:12] BielBdeLuna commented on #19
np

[2015-09-10 00:51] Anthony-Gaudino commented on #19
If you don't mind my curiosity, where are you moving to?

I'm also interested in moving to another country in the future  ;)

Good luck for you!

[2015-09-10 01:03] Anthony-Gaudino commented on #2
I think that using Bullet Physics is a good idea.

Do you want to completely replace the current physics or make both ID Physics and Bullet Physics available, like what is being done with CEGUI and Flash interfaces?

[2015-09-10 22:59] ghost commented on #19
@Anthony-Gaudino Japan

[2015-09-11 00:02] Anthony-Gaudino commented on #19
@Yetta1  Dang it, how I envy you :rage:
Just kidding, LOL

I tried to get a scholarship to study in Japan, but I failed.
Now I will try for another country XD

I lived in South Korea for 6 months some years ago, it was great, everything was so much better than the hellhole I live (Brazil).
By the way, to anyone that is reading this: **DON'T COME TO 2016 OLYMPICS**.

I don't know why you're going t

[2015-09-11 01:34] ghost commented on #19
@Anthony-Gaudino I'm South African and I completely understand your situation in Brazil, we are similar in that regard, except we don't have the world's most gorgeous women unlike Brazil. I was thinking of moving to Brazil some time ago, but decided against it as I'm already worn out from the crime in my own country, no point going to another one with gangs that have heavier weapons.

I was thinki

[2015-09-11 15:03] Anthony-Gaudino commented on #19
@Yetta1 you did great by not coming to Brazil.
The idea that Brazil is full of beautiful women is wrong, actually most are ugly, in some very special places you can find more beautiful women, like in some beaches in Rio.
What is true is that Brazilian women want to be beautiful, usually rich people are more beautiful because they can spend a lot in plastic surgery and cosmetics, so when you see a

[2015-09-11 19:34] BielBdeLuna commented on #19
Monolingualism isn't great either when in comes to communication, so knowing Brazilian Portuguese and English is great!

[2015-09-15 11:35] BielBdeLuna commented on #6
I'm still working on it but the current political movements in my country makes me collaborate on the ongoing politic moment, independence of Catalonia, I'll go back to coding after the 27th of September.

[2015-09-23 09:58] ghost opened #20 "Lighting and physics"
I'm watching this lecture from John Carmack, it's quite old but was wondering what your take is on it.

https://www.youtube.com/watch?v=MG4QuTe8aUw

I'm currently experimenting with Blackbodies etc in Blender with Cycles and using scientific data to simulate lighting and materials based on wavelengths etc. The results when done correctly is quite impressive when using energy based models.

The adv

[2015-09-26 23:45] ghost opened #21 "KTX file format request"
I'm working on textures for the game and would like to use a compressed format which has no legal restrictions. So I looked up alternatives and found out about the Kronos group KTX format. This is similar to the DDS format without the S3TC patent issues. Would you guys consider adding in the libktx into the engine? Here is the Kronos link to the format.

https://www.khronos.org/opengles/sdk/tools/

[2015-09-27 18:05] kortemik commented on #21
Yes I can take a look at it, wouldn't hurt to use such version as most FOSS
distributions don't come with s3tc decoders.

On Sun, Sep 27, 2015 at 2:45 AM, Yetta1 notifications@github.com wrote:

[2015-09-29 08:05] BielBdeLuna commented on #20
I think the best approximation we could have about this is the usage of a real time reflections method alongside a method to affect the way Doom3 calculates the size of the specular highlight which already is in the shader but it lacks code to control it.

[2015-09-29 11:30] DanielGibson commented on #21
doesn't look _that_ interesting.. seems to be a container to store textures, and "Textures can be stored in any of the compressed formats supported by OpenGL family APIs and extensions or can be stored uncompressed".
The thing is that afaik s3tc is the only widely supported compression - ETC and ASTC are only supported by mobile, not by desktop GPUs (at least with commonly used drivers), afaik.
So

[2015-09-29 11:51] DanielGibson commented on #21
Ok, there seem to be two compressed formats with some support on desktop hardware that are supported by mesa: RGTC (https://www.opengl.org/registry/specs/EXT/texture_compression_rgtc.txt) and BPTC (https://www.opengl.org/wiki/BPTC_Texture_Compression)

This is just for the record and doesn't mean we should try to make OTE use it, as the s3tc/DXT based stuff works well and is well integrated in the

[2015-10-08 23:12] ghost commented on #20
There is an interview with John Carmack where he speaks of his experiments with raytracing and OpenCL: https://www.youtube.com/watch?v=hapCuhAs1nA

I think for I'll look into faking certain effects with material scripts, I've been experimenting with layering the code with the blend and add to mix the outcome, however in most cases the engine returns the result as a black render.

It would be usefu

[2015-10-08 23:14] ghost commented on #21
I agree it seems it would be a waste of time, I read KTX is not widely used and plugin support for software seems to be lacking for most software.

[2015-10-08 23:42] ghost commented on #4
Closing this as it makes more sense to use third party software.

[2015-10-08 23:42] #4 closed, assigned to nobody

[2015-10-08 23:57] ghost commented on #15
I was also looking into the issue of compression when it comes to the texture formats. Currently I'm using Caesium, an open source image compression tool to compress PNG textures even more. There is a very small loss in image quality but it helps cut down on overall size. It cuts down around 30-50kb in size, on average almost half the size of the .tga textures used in Doom 3 when PNG is used.

[2015-10-09 00:05] ghost commented on #18
@DoomedNerd I'm also working on a player model for OTE with Blender, however the demo I'm creating has morphed more into a game on it's own. As BielBdeLuna said he could use a basic model for AI scripts, so it would be quite a helpful contribution, as I'm uncertain of when my assets will be complete. If you like CrazyBump and want to try something with PBR support, then you should try AwesomeBump,

[2015-10-09 00:14] ghost commented on #17
@BielBdeLuna GOAP would be great, especially for military/tactical squad simulations. Imagine OTE with machine learning applications to learn, study and simulate strategy for real world application. The security industry would appreciate that.

[2015-10-09 09:27] BielBdeLuna commented on #17
technically GOAP can be used for everything not just tactical action, imagine GOAP as an automatized state machine, so instead of you doing the state machine states, the computer computes it for you.

[2015-10-09 09:33] BielBdeLuna commented on #20
keep in mind that doom3 isn't a PBR renderer it only does some of the lightning in real-time and some gamma correction in the textures, besides this, it still lacks a lot of stuff.

[2015-10-09 14:19] ghost commented on #20
Agreed, however I've found a workaround by testing the black & white values on specular maps based on PBR charts, the results seem good, it's just an issue now of gloss/reflection. SSS and other shaders can be done through custom renderprogs. I've started a small documentation project which documents  steps I'm taking to create different types of materials, most of it is currently rough notes, but

[2015-10-09 14:20] ghost commented on #17
That would be great, also for wildlife and small random weather events.

[2015-10-09 15:35] BielBdeLuna commented on #17
no, the problem of GOAP is that per tick it is calculating and planning all possible plans and scoring it. so it needs a lot of processing power instead of the static FSM which only process the actual orders given by the script.

for random events and wildlife there should be a less expensive method

[2015-10-09 15:44] BielBdeLuna commented on #20
great.

gloss and reflection is the big thing now in all engines, the idea that there is not diffuse and specular but that all is difference in specular is the paradigm change, but the problem with this is that specular is expensive. hell even the portalsky in the old doom3 was expensive the way was done, and that was just rendering a second point of view, imagine rendering as points of view as su

[2015-10-09 16:54] ghost commented on #20
![reflectionprobe](https://cloud.githubusercontent.com/assets/8399958/10400005/91aa399c-6eb6-11e5-83f7-f868ea7a52bb.png)

I did something like this in the Blender game engine by using an extra camera to render what is behind the player, then sending the result to the texture gloss map. It had some framerate drop depending on the amount of objects in the background, however there was no occlusion i

[2015-10-09 16:59] ghost commented on #17
@BielBdeLuna Would calculating possible outcomes and storing it into a cache folder perhaps help improve performance? The only reason I'm thinking of it is after testing some performance differences with the shader cache written by the Nvidia drivers to take some load off the GPU memory.

[2015-10-09 17:15] DanielGibson commented on #17
I'd prefer if that scum wouldn't use my code :-P

[2015-10-09 17:21] DanielGibson commented on #15
lz4 makes sense for network packets and things like that which must be compressed and decompressed really fast, even if the compression ratio is not optimal.

zip (pk4) compresses better than that and is fast enough for us. and it has the **huge** advantage that everyone can easily create and access it, so it's definitely better for assets.

if I didn't care about ease of use, I'd probably suggest

[2015-10-09 17:28] ghost commented on #15
I noticed today that saving out PNG from Inkscape gives an even smaller file size than Caesium. I've tested a texture set from Doom 3, the original size of the Diffuse, Specular and Normal maps was 2.28mb together, after Inkscape it came out as 888kb together with almost no loss in quality. Some textures go down to sizes of 4-11kb. It loads super fast in OTE.

[2015-10-09 17:31] ghost commented on #17
@DanielGibson I know how you feel, Rage against the machine. Lately it seems that policing and security is leaning towards either the fascist or mobster sides.

[2015-10-10 12:52] BielBdeLuna commented on #17
no, within a dynamic world, the evaluation of every plan could change per tick.

[2015-10-10 12:55] BielBdeLuna commented on #20
this would be a heavy handed approach, where you're rendering the scene several times, I bet we could use some screen space reflections or other methods not involving rendering novel points of view, and leave the OpenCL for smokes and other particles.

[2015-10-10 12:59] BielBdeLuna commented on #20
I wonder if voxels render any fast, maybe a voxelised version of the map could be renderer containing every diffuse information of the lightning and it's correspondent colour, therefore you could LOD those voxels and maybe invert them so they could represent the reflections?

[2015-10-10 14:08] ghost commented on #20
Voxels could work well I think, maybe a combo of voxels and screen space reflections. I've been playing around with Ken SIlvermans Voxlap, which renders off the cpu, here is a link to the source code. http://advsys.net/ken/voxlap.htm

I've played some voxel games recently, some engines had terrible performance on the gpu, i've seen some per pixel voxel demos running on CUDA at good speeds. A low r

[2015-10-12 10:52] ghost opened #22 "Back facing occlusion and LOD"
Would it be possible to do some kind of per model back facing occlusion and LOD models in the engine  to help optimize scenes using high poly models? Some modern games have characters with models going up to 200K+, I'd like to do character/weapon models and some static models with higher poly counts but feel it may cause issues. Currently I'm modelling with lower polys/triangles and splitting up h

[2015-10-12 18:10] BielBdeLuna commented on #22
ATM the unique LOD system implemented in a idtech4 engine is TheDarkMod's.

[2015-10-12 19:38] ghost commented on #22
Did not know that, thanks. Will ask around on their forum about it and see how it is done on Dark Radiant.

[2015-10-12 20:21] BielBdeLuna commented on #22
http://wiki.thedarkmod.com/index.php?title=LOD
http://wiki.thedarkmod.com/index.php?title=SEED

[2015-10-12 21:25] ghost commented on #22
Thank you, this helps a lot. However will this be added into OTE as well? The alien planet level has outdoor areas which will be populated by various assets, I've sliced up some of the higher detailed terrain models to be lighter on the engine.

[2015-10-13 00:24] BielBdeLuna commented on #22
not at the moment, but there is that implementation there.

what alien planet? are you making an alien planet?

[2015-10-13 00:38] ghost commented on #22
I'm making a game to showcase the engine which will be released with the same license as the engine. I figured since there is so much to showcase then may as well make a mini fps game with various environments such as architectural, nature and of course the alien planet with funky effects.

[2015-10-13 01:32] BielBdeLuna commented on #22
ok, it seems a fun project

[2015-10-13 08:14] kortemik commented on #22
Would we be able to participate the development of it? It'd be much more
motivating to fix the issues and add features if we see any real progress
by them :)

On Tue, Oct 13, 2015 at 4:32 AM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2015-10-13 16:56] BielBdeLuna commented on #6
I'm done with the scripting of enemies, now I'm proceeding to make it playable in IdTechX:

https://github.com/BielBdeLuna/idTechX_GPL_scripts/tree/untested/script/ai

ATM the code is there but it's not tested in IdTechX, only the actual FSM is untested the rest is working fine in-engine. (at least compiles fine)

[2015-10-13 17:09] ghost commented on #22
@kortemik I would like that and would encourage it. First i want to finish the assets and maps before moving onto the code. The tech demo is more like a episodic based FPS like the shooters of the 90's.

I am releasing it free for the engine and would like to implement a donation system to help further development on the engine for purchasing hardware and software for contributors. This way we can

[2015-10-18 14:04] #21 closed, assigned to nobody

[2015-10-19 02:50] ghost opened #23 "Working water and terrain grass with Darkmod"
I tried this map earlier for Darkmod which has animated grass and water. It runs quite smoothly, the only thing missing is player collision with the grass to flatten it.

Here is the link to the pk4:
http://www.moddb.com/mods/the-dark-mod/addons/arcturuss-animated-grass-demo

[2015-10-19 09:30] BielBdeLuna commented on #23
we might need some special code for the grass, maybe make a "entity2" for things that should be ion the world, but not have a presence as normal entities do, and maybe imagine a system more efficient to handle huge amount of entities. normally idTechX has a limit of 1024 entities, this limit could be reached if we add every plant and tree as an entity, and it seems entities are more complex things

[2015-10-19 15:39] ghost commented on #23
The grass on that map seems to be billboard based instead of added geometry which could allow it to bend and deform. I've modeled clumps of grass using textures which has around 170 vertexes per clump. On my low end hardware I've tested a scene using instances of the models in Blenders game engine without optimization settings on, the frame rate drops from 60-25 when viewing around 170,000 vertexe

[2015-10-19 16:13] BielBdeLuna commented on #23
the problem of the ammount of vertices to draw is a secundary one, first you have to get something there, and this something occupies entity slots. you could expand those or contain all flora in a different system

[2015-10-19 16:31] ghost commented on #23
Sounds good. So it's best to have it's own threads? Could we have these entities interact with IDphysics for some more realism such as wind direction blowing foliage or trees destruct when hit by maybe a rocket, vehicle? I'm considering modelling the trees to break and to model other objects such as pillars to break apart when shot.

[2015-10-19 16:42] BielBdeLuna commented on #23
let's wait for that, first we need a system so those models get there and can be there, it should take into account what the player sees, and cull what player doesn't see, and maybe assign the visible flora to a limited list of slots, so maybe it needs to add not all the flora visible but the most important first and then the filler (and this filler has to be organized in some intelligent way too)

[2015-10-19 17:04] ghost commented on #23
I agree 100%, speed over visuals. With tall foliage scenes such as wild grass we could cull out grass and rocks based on what is unseen by the players vision, maybe based on the depth buffer. For destructible trees we can have a state system and once it is triggered then the physics can be activate for the tree to fall over.

If we can get someone to do GLSL code, then we could maybe also do leave

[2015-10-20 17:28] BielBdeLuna commented on #23
https://www.youtube.com/watch?v=aJXULtV9dkw how MGSV engine does it

[2015-10-20 17:31] kortemik commented on #23
That lightning, we just gloom.

But yes something like that might do it, although we first need in game
editor working.

On Tue, Oct 20, 2015 at 8:28 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2015-10-20 18:00] ghost commented on #23
@kortemik Could we add light emission via emission textures to generate light? I think the DarkPlaces engine for Quake 1 has something like that. Otherwise maybe a screen space global illumination shader.

[2015-10-20 18:19] BielBdeLuna commented on #23
on "pushing the player around" this can be done, and I actually tried this in the scripting, but c++ doesn't inform the code where the pain came from, I'll add this once the scripting is done. as well as pushing the player with currents (non painfully way)

and no, I can't assume all pain done to a character comes from the direction the one that cause it is, because not all pain inducing interacti

[2015-10-29 13:29] ghost opened #24 "Renderprogs"
I've been trying out modded versions of the renderprogs, not sure if the engine is loading the files correctly, it's not showing any changes or adding any new effects. I'm mainly trying to get SSAO in the engine. Even deleting the folder the engine runs fine without change. I've also used resourceLoadPriority. Is the vertex/pixel shader code hardcoded into the engine as well?

[2015-10-29 18:26] BielBdeLuna commented on #24
the CG code or the old *.vp *.fp code? I think now IdTechX ignores the old code

[2015-11-03 21:35] kortemik commented on #24
https://developer.nvidia.com/cg-toolkit-download

[2015-11-04 16:17] ghost commented on #24
Sorry for the late reply, was without internet for a while. I noticed the engine writes glsl code to the user save game folder. I think it may be hard coded and linked to the vertex and pixel files in the renderprogs folder.

The code I have is based on modern OpenGL, the tutorial was aimed at OpenGL 3.3 using a similar technique to the SSAO used in Crysis. my goal is just to get custom GL program

[2015-11-13 00:51] Anthony-Gaudino commented on #24
@Yetta1 I think you will need to rewrite the shader into CG for it to work.
I know that the CG shader will be compiled to GLSL for you, but I imagine you must change some code to integrate the new shader into the pipeline and to do this you would need to rewrite it in CG.

Another option would be to change the engine to use GLSL shaders directly, but then you would need to change some code anyway.

[2015-11-13 19:49] Anthony-Gaudino commented on #10
@kortemik GitHub Pages allows you to use a Git submodule on the Pages repository.

I think it would be better if we had a separate repository only for documentation where you would put the Doxygen files, and then add this documentation repository as a submodule to the Pages repository.

This way, when someone wants to work on the project webpage they don't need to clone all 1.5GB, they will clone

[2015-11-15 12:58] kortemik commented on #10
Yes I agree with that.

There is already new repository for Doxygen which for push is in progress at the moment.

i cleared doxygen directory from history of opentechengine.github.io.

@Anthony-Gaudino please feel free now to edit the pages!

[2015-11-15 18:14] Anthony-Gaudino commented on #10
Great @kortemik, the `Doxygen repository` can now be added as a submodule on `opentechengine.github.io repository`. This way, we can add a web link to the Doxygen documentation from the webpage and users will be able to access the Doxygen documentation by just clicking on the link.

I will try to create a little website on the `GitHub pages repository` for the project using Jekyll.

Can you please

[2015-11-15 20:36] Anthony-Gaudino commented on #16
There are many functions that just return `true` or `false`, and some are empty.

I also found functions that receive parameters that are never used inside the function, for example, the function `void idEntity::ApplyImpulse` on the file `Entity.cpp` seems to never use the parameter `idEntity *ent`.

Probably those functions are virtual functions, but there's no comments saying that, I will add a

[2015-11-17 10:59] kortemik commented on #10
@Anthony-Gaudino please find logos at:
http://caedes.sigfail.org/temp/modwiki_logo.svg
http://caedes.sigfail.org/temp/opentech-logo.svg

[2015-11-17 20:21] Anthony-Gaudino commented on #10
Thank you @kortemik.

Before you sent the logo I decided to try and make a new logo. I also used the id tech 5 logo as reference. The current logo is too tall compared to the text inside, so I did a more compact logo.
I also replaced the `BFG` by `ENGINE` or an gear icon since the project is called **Open Tech Engine** and we always call it by this name or **OTE**.

I searched on the Internet for

[2015-11-17 21:00] kortemik commented on #10
I like the idea of P melding into the Tech-base. However the overlapping letters do not work in long word like "open". Original is way shorter, I didn't even notice it as it's only two letters. I'd say the idea of lamp bulb could be perhaps dropped. @DanielGibson's idea of electron tube was fun although as said it's bit too large. I'd place the gear in left of the text. Could you try that?

We are

[2015-11-18 02:01] Anthony-Gaudino commented on #10
@kortemik, I wasn't sure the current logo was a light bulb or a vacuum tube, the glass format looked more like a light bulb, but then the 4 connectors in the bottom makes it look like a vacuum tube. I searched on the Internet and I did found some vacuum tubes with a format similar to a light bulb.

I tried to create a vacuum tube design, but it looked bad and I gave up on it.

The second logo has

[2015-11-18 06:46] BielBdeLuna commented on #10
why does "Tech" use one of the fonts of the product "doom3" when there has been more games using idtech4?

why not instead of a gear we use a wrench? while a gear suggest an engine, a wrench suggest manual labor, as if the user has to do something manual, and since we need to suggest that the tech is open, manual labor and open would go hand in hand here.

[2015-11-18 14:54] Anthony-Gaudino commented on #10
@BielBdeLuna, I based the logo on the id tech 5 because the current logo is based on it too, but as @kortemik also said, it's not necessary to be similar to the id tech 5 logo.

We can have both a gear and wrench. I also changed the font to the Fira font:

![ote_logo_6](https://cloud.githubusercontent.com/assets/2439728/11243942/ca3c52f2-8de9-11e5-9273-eae6492a7586.png)

[2015-11-18 15:21] BielBdeLuna commented on #10
it looks cool, I like the shadow effect, pretty idtech4ish! :)

[2015-11-18 22:53] kortemik commented on #10
I would rotate perhaps the wrench 45 degrees counter-clock-wise. Although atm it almost resembles quad damage which is quite nice for a reference.

Doxygen didn't fit the repos so it's hosted here: https://xnet.fi/code/OpenTechBFG/Doxygen/

[2015-11-19 16:55] Anthony-Gaudino commented on #10
@kortemik, here's it with the wrench rotated by 45 degrees in both directions, first counter clockwise, second clockwise:

![ote_logo_8](https://cloud.githubusercontent.com/assets/2439728/11276631/94c5416e-8ec1-11e5-8730-c62f88f0e627.png)

Here are some other designs I was trying out. First is a cut out gearbox with access to the mechanism; second is an open door, but I don't know how to fit tech

[2015-11-19 17:23] BielBdeLuna commented on #10
what about a toolbox, you know the typical red toolbox, it's open in it itself because it serves to fix and to do anything, because it's not geared towards doing anything in particular as most tools are. in a toolbox you have the most diverse tools that you can use to do the most diverse things, so toolboxes are very useful for that. you can always fins the right tool in a tool box.

[2015-11-19 23:47] Anthony-Gaudino commented on #10
@BielBdeLuna I don't think a toolbox would work well for this project, we usually see toolboxes being used to represent "fixing something", so if it was a maintenance software it would work.

... But your suggestion gave me a great idea, and I did this design:

![ote_logo_10](https://cloud.githubusercontent.com/assets/2439728/11287570/76db5b90-8efb-11e5-82a2-64e7cba6b653.png)

Logo design must be

[2015-11-20 10:42] kortemik commented on #10
@Anthony-Gaudino there is size limit of 1GB for LFS and for normal repos, it's purhaceable to get more, 50GB and 50GB bandwidth with 5€/month blocks.

However I measured even some 200MB page loads with call graphs so 50GB bandwidth would be consumed instantly.

[2015-11-20 20:54] Anthony-Gaudino commented on #10
Here's another design using an open padlock:

![ote_logo_11](https://cloud.githubusercontent.com/assets/2439728/11311226/3ab45240-8fad-11e5-820e-e0723e94a23d.png)

And here is the box again, but with the lids open a little more:

![ote_logo_12](https://cloud.githubusercontent.com/assets/2439728/11311255/6e2e047c-8fad-11e5-96e6-baef2ecaee53.png)

I think that this last "open box" logo is the best b

[2015-11-20 23:01] BielBdeLuna commented on #10
I don't quite see it as an open box, it's too abstract to me (if I were to see it first hand without any prior knowledge that is)

if idTechX is a 3d engine why not represent an actual box with open lids with maybe a logo of the gear in the side, so it's not a purely 2D image but a item cleary represented in 3d, what do you think?

[2015-11-21 00:26] Anthony-Gaudino commented on #10
The project name is also abstract, that's why I'm having trouble in finding the best logo for it.

With a 3D box, the best way I found to do it is this way:

![ote_logo_13](https://cloud.githubusercontent.com/assets/2439728/11315175/99b49b5a-8fcc-11e5-808f-91fb990de767.png)

[2015-11-21 00:33] BielBdeLuna commented on #10
still a 2d ish image don't you think? why not make it showing some of he side.

on the name, maybe it's too ambiguous, open tech engine, engine for what, tech for what. it's not clear

[2015-11-21 01:27] Anthony-Gaudino commented on #10
It doesn't really need to be clear, the problem is that it's too abstract. If it was "red apple engine" I know I would draw a red apple with something else, but "open tech engine", it makes it much harder to develop a good clever logo.

Open means "free software", you can use it, browse and change code.
Tech means technology.
Engine means a framework, in this case, for making games.

Putting all t

[2015-11-21 10:51] BielBdeLuna commented on #10
I found some "box" logos that show the 3d-ish nature of it that I'm referring to: http://designbeep.com/2013/08/15/21-smart-box-logos-for-inspiration/

[2015-11-21 11:08] kortemik commented on #10
@Anthony-Gaudino
This logo https://cloud.githubusercontent.com/assets/2439728/11228427/374201f0-8d6b-11e5-81db-db49d8f50310.png

With these colors https://cloud.githubusercontent.com/assets/2439728/11311255/6e2e047c-8fad-11e5-96e6-baef2ecaee53.png

Or black text. And perhaps bigger gear.

[2015-11-21 14:46] Anthony-Gaudino commented on #10
@kortemik, relax :baby_chick:

[2015-11-21 16:12] ghost commented on #10
![ote_gear_prev](https://cloud.githubusercontent.com/assets/8399958/11319330/36c0516a-907b-11e5-93df-eec5d73b8709.png)

![logo_basic](https://cloud.githubusercontent.com/assets/8399958/11319349/4bf3e8e8-907c-11e5-89de-443efa645702.png)

Part of the cover page I made a while back for the artist guide I'm working on.
However the guide is on hold, having issues with performance when blending shaders.

[2015-11-21 16:37] BielBdeLuna commented on #10
@Yetta1 I find difficult to read OTE in the logo you proposed, it's not difficult not to read the line of the T and the E as an added line like the other two lines in the design, and the fact that the top added line cuts the E makes it even more difficult to read that last letter as an E, at first sight you could say it says OIH or even OIT with the T rotated counter-clock wise.

besides that I li

[2015-11-21 16:45] ghost commented on #24
I noticed the issue of CG and the GLSL generation, for PBS materials we need OpenGL 3.3 or higher it seems. I've been doing a lot of reading on the subject of physically based shading, it seems that data for roughness, gloss, albedo etc is stored in the RGB channels.

Another issue is the lack of relief/tesselation in the shaders, adding more detail will help make shaders more believable as it's n

[2015-11-21 16:48] ghost commented on #10
@BielBdeLuna It's ok, I didn't put much effort in the design and made it in a few minutes.

[2015-11-21 16:55] BielBdeLuna commented on #24
I don't think we should need any superior version of OpenGL for PBS since the engine already does use the roughness, although it does it as a constant, we just have to be able to change it, we could sue a new bitmap for that, or a single value in the shader. (so we should be able to read it in either two forms, or at least one for starters)

we could try to add to the engine the ARB to GLSL and co

[2015-11-21 16:55] BielBdeLuna commented on #10
:)

[2015-11-21 17:08] Anthony-Gaudino commented on #10
Coincidence!

I'm also working on a design with the initials:

![ote_logo_15](https://cloud.githubusercontent.com/assets/2439728/11319492/a5fb583c-9057-11e5-86a4-7ff8fe245e80.png)

It uses white space to make the "O" and "E".

And if you put a curve under it:

![ote_logo_16](https://cloud.githubusercontent.com/assets/2439728/11319505/2c33814a-9058-11e5-9dbd-50b9188b8d75.png)

It looks like a happy

[2015-11-21 17:08] ghost commented on #24
@BielBdeLuna I think a lot of Doom 3 modders will be happy if ARB works in RB and OTE as there seems to have been a lot of complaints surrounding it especially people that wanted to play sikkmod on BFG but couldn't since all the shaders where ARB. Sikkmod's ARB shaders do perform well on lower end hardware if tweaked right, however does have some graphical artifacts at times.

I recently watched t

[2015-11-21 17:13] BielBdeLuna commented on #10
flying gear man! gears flaying free XD

[2015-11-21 17:19] ghost commented on #10
@BielBdeLuna Lol the gear I did was for that very purpose, to create an intro video for the game engine showing gears in a machine with one flying off then morphing into the OTE logo.

[2015-11-21 17:20] ghost commented on #10
Then again thinking about it now, it might give the impression that the engine is breaking. :|

[2015-11-21 17:25] BielBdeLuna commented on #10
XDD

[2015-11-22 12:44] kortemik commented on #10
How is the page layout btw?

[2015-11-22 13:15] kortemik commented on #10
http://opentechengine.github.io/doxygen.html I added some more useless docs

[2015-11-23 14:34] Anthony-Gaudino commented on #10
@kortemik, I'm still working on the logo thing, I will start working on the Jekyll pages as soon as we have a good logo. The page design will also depend on the logo, so it's better to have it first.

---

I just did this new logo which combines everything in the OTE name:
- The open, with an opening on the plane.
- The tech, with the circuits coming from the sides of the opening.
- The engine, wi

[2015-11-23 15:11] kortemik commented on #10
That's awesome for me. Text on the right could be something too. Now the pages?

[2015-11-23 15:50] Anthony-Gaudino commented on #10
@kortemik, OK, I see you really want the pages, so I will work on it full time now.

Just relax, don't try to hurry up things.

Here are some cute animals to make you relax:
:cat: :hamster: :bear: :panda_face: :baby_chick: :bird: :mouse: :penguin: :rabbit: :dog:

[2015-11-23 16:05] BielBdeLuna commented on #10
I like it too, but I'm not convinced that you get that it's a 3D engine form that logo, it seems a logo more fitting for a tech company don't you think?

what if we use this idea of the PCB copper vias as a tech reference, but instead of them being in a undefined plane, let's add them in a box (and open box ) now what is this box? this box it's The engine (instead of a mailing pachage)

and we can

[2015-11-23 16:28] Anthony-Gaudino commented on #10
The black and white colors make it harder to see that there is a hole in the plane. With colors it gets more visible:
![ote_logo_20](https://cloud.githubusercontent.com/assets/2439728/11342389/e97d2baa-91e5-11e5-883d-6e5d1a4841b0.png)

I was working on a 3D box like this one in the link, but since @kortemik wants the pages so badly, I will finish this design latter and then I will post a comment w

[2015-11-23 17:15] BielBdeLuna commented on #10
but only do if you agree pal! I like your designs, they are great! :+1:

[2015-12-24 12:12] #19 closed, assigned to nobody

[2015-12-24 12:20] ghost opened #25 "Model formats and tools"
Would it be possible to add in assimp (http://assimp.sourceforge.net/main_features_formats.html)?
It supports many model formats and could make it easier for artists to export to OTE.

Could the source and binary versions also include links to scripts for importers/exporters for the popular 3D modelling tools in the documentation? Or better include the scripts or forks of them?

[2015-12-24 13:05] ghost opened #26 "Shadow clipping bias"
![clippingbias](https://cloud.githubusercontent.com/assets/8399958/11994887/86e39178-aa4f-11e5-86aa-28de4fc4dc78.png)

The shadows cut off, any way to increase the range without breaking the shadow?

[2015-12-26 10:15] kortemik commented on #25
Is there something wrong with md5mesh and md5anim formats or exporters?

We already have cloned them to ModelingTools repository.

Someday we will perhaps create a development kit package but not today.

@motorsep I think you are using blender right, is it working just like it should?

[2015-12-26 11:58] kortemik commented on #25
I finished first version of new md5mesh and md5anim exporter.

https://github.com/OpenTechEngine/ModelingTools/tree/master/MD5/Blender/io_export_md5

Please try that out @Yetta1 @motorsep

The mesh files exported by it and by the non _obj exporter have difference. The old exporter exported many unnecessary verts and weights.

Edit:
There was a bug with uv maps which should have been fixed in lates

[2015-12-27 18:33] BielBdeLuna commented on #25
ATM I'm locked out because I can't compile Darkradiant, I might push for the script of creating brushes in Blender and exporting them as *.map, even if I can't open yet the *.def files in blender, I might hack a way to put an info_player_start_entity, the uv's coords are still a problem, I might fake them out so I can see something in IdTechX, only after I got some kind of editor working in Blende

[2016-01-17 17:40] ghost commented on #25
Hi guys, sorry for the late reply, was afk the past month. @kortemik The link to the exporter doesn't seem to work, maybe it changed. I do get some issues with exporters, like bones exporting in the wrong locations. The reason I asked about assimp is for its support of many formats.

@BielBdeLuna I've also had issues compiling DarkRadiant, currently I'm using 2.0.3. I've tried the .map exporter te

[2016-01-17 20:22] kortemik commented on #25
@Yetta1 Kat (the one who runs katsbits) suggested me to rename it to io_export_md5 as it's quite the standard name for the blender.

You can find it on https://github.com/OpenTechEngine/ModelingTools/tree/master/MD5/Blender/io_export_md5

[2016-01-17 21:45] ghost commented on #25
@kortemik Thank you Kortemik, I found that link earlier. I can't seem to find a working ASE exporter for Blender 2.7+, however I am using a LWO exporter which works, "http://www.ewocprojects.be/lwoexport.html". The MD5 exporter works so far, just having issues with the bones, most likely my fault for not naming it properly.

[2016-01-17 21:52] ghost opened #27 "PNG not showing up in DarkRadiant."
Seems the old issue has come back. The PNG files do not show in DarkRadiant and reverts to the shader not found image. For now I've reverted to using TGA's.

[2016-01-18 08:12] kortemik commented on #25
ASE exporter on our repo should work, however see the Issue created about it

On Sun, Jan 17, 2016 at 11:45 PM, Yetta1 notifications@github.com wrote:

[2016-01-18 08:14] kortemik commented on #27
How do you have your materials defined?

On Sun, Jan 17, 2016 at 11:52 PM, Yetta1 notifications@github.com wrote:

[2016-01-18 08:24] ghost commented on #27
Yes I have. The PNG files for the lights also doesn't work, had to convert to TGA. It's DarkRadiant 2.0.3 with the last public build of OpenTech.

EDIT FIXED//I can't setup the code to compile the engine, there is a cmakelists error "Expected a command name, got unquoted argument with text "<<<<<<<". was hoping there might be an error with the older build.//

[2016-01-18 08:29] ghost commented on #25
The ASE exporter is for Blender 2.51, I tried it on 2.53 and gave errors. The LWO format works fine. This is why I asked about assimp so we could import other model formats like .obj, .dae, .fbx and .blend. Maybe in the future a tool can be created to convert models for OTE, cutting out data not needed by the engine.

[2016-01-18 09:24] kortemik commented on #27
I will have to take a look at that somepoint, older release might work, i
think i used <2 version successfully..

On Mon, Jan 18, 2016 at 10:24 AM, Yetta1 notifications@github.com wrote:

[2016-01-18 09:25] kortemik commented on #25
The MD5 exporter by me does the cutting, I could do the same for ASE.

Which kind of errors do you have with bones, are the files shareable? I
could test those myself.

On Mon, Jan 18, 2016 at 10:29 AM, Yetta1 notifications@github.com wrote:

[2016-01-18 09:27] ghost commented on #27
@kortemik Just did a successful build of the engine, the PNG's work again. Not sure what happened with the older build.

[2016-01-18 09:27] #27 closed, assigned to nobody

[2016-01-18 15:10] ghost commented on #25
I found a add-on that works perfectly for Blender 2.7+, it's was made for the ARX: End of Sun fan game. Here is the link `http://sourceforge.net/p/blenderbitsbobs/wiki/MD5%20exporter/`

[2016-01-18 15:29] kortemik commented on #25
Is it working better than my version?

On Mon, Jan 18, 2016 at 5:10 PM, Yetta1 notifications@github.com wrote:

[2016-01-18 18:10] ghost commented on #25
I haven't tested yours so far. I'm finishing the long awaited player model for OTE. I'll export it with your exporter. The model is split up into head, torso, arms and legs. Lost the old model from hdd failure, so I'm still setting up the rig and doing some basic animations. The package will contain the .blend along with the MD5 model and textures.

[2016-01-20 14:18] ghost opened #28 "GLSL tutorial request"
Hi guys. I'm still working on the art assets guide. I was wondering if one you would do a tutorial for users to add in their own GLSL.

[2016-01-20 16:51] BielBdeLuna commented on #25
very recently I been working with the blender idTechX map exporter at the moment I can export brushes and patches, but I need to add to it rotations (at the moment you can only put brushes, scale them, and move them but not ortating them, as well as the same with patches

and the textures, at the moment I'm working on a simple texture offset, scale and rotation tool for blender (like the one in Ra

[2016-01-20 16:52] BielBdeLuna commented on #28
I'll look into it as it's a matter very important to me too

[2016-01-20 17:00] ghost commented on #28
Thank you BielBdeLuna.

[2016-01-20 17:01] kortemik commented on #25
In case you have any particular problems, I can look into them as I think I
met some while creating the md5mesh exporter

On Wed, Jan 20, 2016 at 6:52 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-01-20 17:13] ghost commented on #25
@BielBdeLuna  Which map exporter? Does it support Blender 2.7? The idea of UV map support sound great and would by perfect for people who want to use this kind of workflow.

https://www.youtube.com/watch?v=vgZpeq2wj94

Will it support terrains as well. I know people use the particle system for terrains to populate it with rocks, trees, grass etc. Maybe instead of the models in the particle system,

[2016-01-20 17:16] kortemik commented on #25
I think I need to add option for selecting which bonelayers to export

On Wed, Jan 20, 2016 at 7:13 PM, Yetta1 notifications@github.com wrote:

[2016-01-20 17:25] BielBdeLuna commented on #25
@kortemik I've been working out a python script to allow *.map exporting from Blender to idTechX

here is my code (at the moment not the last code) https://github.com/BielBdeLuna/Blender_IDtech4_GPL_map at the moment following the version conversion in my own readme I'm at 0.0.3 but instead of scaling the problem is rotation today I'll try to push my improvements ATM

[2016-01-20 17:32] kortemik commented on #25
I'd first suggest to define the format like here:

https://github.com/OpenTechEngine/ModelingTools/blob/master/MD5/Blender/io_export_md5/io_export_md5.py#L67

And after that we can proceed to the actual problem of extraction. Just
because the way of just writing it line by line and not assembling it all
first in a logical whole object and then just flushing it in one go makes
it way harder to read

[2016-01-20 17:34] ghost commented on #25
@kortemik Agreed, I think most users that will use Blender will use the Meta-rig and rigify, as it really speeds up the process instead of manually creating the armatures. However what is the limit of bones, could someone make a centipede with hundreds of bones?

@BielBdeLuna Nice, going to test it. I've got a semi-complex map I made for Unity which I was planning on moving over to OTE.

[2016-01-20 17:38] kortemik commented on #25
I think it's quite low amount, even the default rigify with all the bones
exceeds it

On Wed, Jan 20, 2016 at 7:34 PM, Yetta1 notifications@github.com wrote:

[2016-01-20 17:45] ghost commented on #25
@kortemik I remember it being very basic, however when I imported the player mocap file from Doom 3, I noticed they used loads of bones to control the facial animations, however I think the import was somewhat broken as all the bones where sticking out on Blenders Y axis.

Maybe a predefined armature specific to OTE can be added into the add-on can be implemented in the future. Then users can simp

[2016-01-20 18:34] kortemik commented on #25
The importer you are using is a bit dodgy, and that's why it does the wild
magick with the bones.

I am not saying my script is any better on that side as it doesn't do
import but still it could be improved a litte to support import with some
effort.

However I don't see importing as an issue as blender is for content
creation?

How do you see it as an artists?

On Wed, Jan 20, 2016 at 7:45 PM, Ye

[2016-01-20 18:46] ghost commented on #25
@kortemik Exporting is the most valuable and needs the most attention, importing will only really be needed for people modding assets. The only reason I imported was to check out the armatures, which in the end proved useless.

Many artists I feel would want more bones and control with Blenders shape keys included and also taking into considerations what's in the dope sheet and graph editor. This

[2016-01-20 20:28] BielBdeLuna commented on #25
the map exporter last pushes are here: https://github.com/OpenTechEngine/Discussions/issues/29

I'll add the objects like @kortemik suggested, for entities, brushes, and patches

[2016-01-20 20:40] BielBdeLuna commented on #23
note that in the MGS  video the grass is not randomly put, but it serves to hide the seams between different models (like a tree and the ground, or stones and the ground) it might be either vertex painted in, or literally painted with a "foliage texture" where the more colour the more foliage from a specific style there is. this "foliage texture" or vertex weight is in the terrain texture but for

[2016-01-20 20:46] BielBdeLuna opened #29 "Blender idTechX map editor"
all things pertaining to the Blender Map idTechX map editor here, so I stop hijacking other's discussions with my crappy program :)

my repository: https://github.com/BielBdeLuna/Blender_IDtech4_GPL_map
which I will keep updating the "alpha" branch until I feel i have a master to push

current version: 0.0.4

here is my plan:
export brush data without correct texture placement 0.0.1--DONE
export s

[2016-01-21 01:42] ghost commented on #23
I agree with you. As I mentioned on another post when discussing a exporter for Blender to OTE with Kortemik, we could use maybe Blenders particle system to place foliage, rocks etc, by using ID's for each object being placed, for example, rock00=ID1, rock01=ID2, TallGrass00=ID3, BirchTree=ID4 etc. Then in the engine maybe call up those object based on distance, so the engine only calls when in vi

[2016-01-21 02:15] ghost commented on #29
It's not crappy, it's way better than my "Hello World" program.

[2016-01-21 11:16] BielBdeLuna commented on #29
:)

[2016-01-21 18:05] BielBdeLuna commented on #24
with the recent stage of RBDoom3BFG this discussion has become moot point isn't it?

[2016-01-21 18:32] ghost commented on #24
We can close this since there are add-ons being developed for Blender now by you guys, which I am extremely grateful for. Blenders material output is already close to what it seen in the engine. Agree to close?

[2016-01-22 11:23] BielBdeLuna commented on #24
yes

[2016-01-22 11:24] #24 closed, assigned to nobody

[2016-01-22 15:00] ghost opened #30 "OTE Player model preview"
Texturing is taking longer than expected, the preview has the base colour. I still need to do the details, then render to another UV layout to eliminate the symmetrical texturing and less seaming. After it's done. i'll save out different colour versions for multi-player and future in-engine editing. The model is under 3000 triangles.

![testrender](https://cloud.githubusercontent.com/assets/839995

[2016-01-22 15:04] BielBdeLuna commented on #30
great!

[2016-01-22 17:52] BielBdeLuna commented on #30
can we see the mesh?

[2016-01-22 18:20] ghost commented on #30
![wirefrme](https://cloud.githubusercontent.com/assets/8399958/12519119/82cb8e94-c145-11e5-8664-e96d1fba12ab.png)

[2016-01-22 18:23] ghost commented on #30
![wireframe](https://cloud.githubusercontent.com/assets/8399958/12519183/f84934d2-c145-11e5-9da6-013a5355d042.png)

[2016-01-22 23:31] ghost commented on #29
Can't get it to show up in the add-ons or export panels. When running the script from the text block, I get no errors or any output from the console. This is on Blender 2.76.

[2016-01-23 07:31] BielBdeLuna commented on #29
check out in the "testing" section

[2016-01-23 08:49] kortemik commented on #30
Wow, I hope it looks as nice on the OTE as it looks on blender

[2016-01-23 09:39] kortemik commented on #29
I wonder if you have had time to work on the format object structure? if there is a good resource for the format like there was for md5mesh i'd like to read it through too to understand how map format works only thing i have is https://modwiki.xnet.fi/MAP_%28file_format%29

[2016-01-23 21:34] BielBdeLuna commented on #30
great

[2016-01-23 21:37] BielBdeLuna commented on #29
I'm still working on it.

Do you happen to understand how the texture matrix on that page is defined?

[2016-01-24 14:21] kortemik commented on #29
Well I think one needs to understand the whole of a brush to understand how
the definition is designed:

[code]

[code]

Is a _parallelogram_ right, it's defined with planes, not by it's points.

We only have in the plane equation the orientation of the surfaces, first
three are positive and the last three negative, meaning all of them are
facing outwards and as they are different in x y z they ar

[2016-01-25 00:50] BielBdeLuna commented on #29
the plane equation part is solved the question are those "xxscale xyscale"  and "yxscale yyscale", and also where is rotation?

let's remember that you can offset the texture, rotate the texture, and scale the texture and since all happens per brush face (per plane) the texture is projected on that plane (i guess taking into account the 0,0,0 world origin as the 0,0 of the texture in the projectio

[2016-01-25 09:42] kortemik commented on #29
I would assume the rotation is the facing value, this particular object was
aligned to all the axis so it's values were -1 and zero zero etc but these
all would have a value on each row if it was not?

For the plane sizing I'd almost say that it's depending on texture equation

On Mon, Jan 25, 2016 at 2:50 AM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-01-25 11:54] BielBdeLuna commented on #29
but planes have no size, they are infinite, so the brush object out of the collision of infinite planes which amongst them create a concave 3d object.

if you want the texture of the object rotated 10 degrees anticlockwise from the standard rotation how would you express it?

if there are 6 numbers in order to express the texture coordinates (which seems that could be expressed with just 5 numbers

[2016-01-25 12:17] BielBdeLuna commented on #29
straight from the archived version of Doom3world that the wiki page points to:

on what is a texturematrix:

[code]

--edit--
wait I've found a code (out of a post about Radiant having it) that I could implement without knowing what actually does:

[code]

the post: https://web.archive.org/web/20080308170646/http://www.doom3world.org/phpbb2/viewtopic.php?t=16228

it seems to combine scale and rota

[2016-01-25 21:09] BielBdeLuna commented on #29
I'm pretty much finished on the the object creation side, since I don't have a  map creator system working on Blender I have it geared in a half hackish way, now I need to test it.
As it is right now, I could have entities owning certain brushes which is the base of trigger entities or brush based doors. since now everything are objects oriented code.

I'm looking forward at how to implement entit

[2016-01-28 13:56] BielBdeLuna commented on #29
oops... I've broken the script, now it works, the *.map structure looks like any regular map, but every brush have degenerated planes! and patches fail too! this is too fubar! :)

[2016-01-30 15:36] BielBdeLuna opened #31 "idTechX can't display shader effects on top of other shader effects"
imagine the common situation where a window with deformation shader is behind an explosion with another deformation shader, only one deformation is displayed (the one closer)

I wonder if this issue could be resolved with some JIT magic on a per frame basis, so the first step would be to identify the shaders every pixel is subjected to, then on those pixels subjected to more than one shader dos so

[2016-01-31 20:55] kortemik commented on #29
have you had any other obstacles with objectifying?

[2016-02-01 02:05] BielBdeLuna commented on #29
no it's mostly done, but I somewhat broken patches, they where perfect until I crated the classes the code should do the same but somewhere there is a think that breaks it. idTechX complains about the width but it's ok it's a 3X3 matrix as it should be. maybe it's about precision, maybe those numbers have to be float even if they are "n.0" I'm testing this at the moment, as in the map definition,

[2016-02-01 08:00] kortemik commented on #29
please push it on another branch and i can take a look, don't be scared to
publish unfinished things :P

On Mon, Feb 1, 2016 at 4:05 AM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-02-04 19:13] BielBdeLuna commented on #29
I've pushed the changes to the alpha branch of my repository: https://github.com/BielBdeLuna/Blender_IDtech4_GPL_map/tree/alpha

at the moment patches are not exported because their export is annulled in the entity class, you just need to change a False for a true there and you'll get patch export

[2016-02-04 19:19] BielBdeLuna commented on #29
added the Blender test map I'm using for my tests

[2016-02-08 11:51] BielBdeLuna commented on #29
@kortemik have you seen the code and activated the patches? have you get the patches error after loading a map with patches?

[2016-02-09 21:08] kortemik commented on #29
sorry i've been quite busy :/ would you have the test case .blend files? I
mean creating my own would be just a waste of time as it's way better to
have a common set of cases we work on. Perhaps you could create another
branch or even a repository containing them

On Mon, Feb 8, 2016 at 1:51 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-02-09 22:56] BielBdeLuna commented on #29
I added my blend file as I stated two posts above: https://github.com/BielBdeLuna/Blender_IDtech4_GPL_map/blob/alpha/ref/maps/test_level.blend

check out also the material names for the objects, those are the names of the texture material shader for the whole object. it will have to change in the future, in order to have multi-textured objects, but at the moment it's the 101'th hack in the code...

[2016-02-14 18:32] ghost commented on #25
@kortemik The md5 exporter works. I still need to get the animation set up, currently the model is using a fake idle animation.

@BielBdeLuna I can't seem to get the map exporter to run in Blender.

[2016-04-12 20:49] ghost opened #32 "I'm back"
Just letting you guys know that I am back on my pc. I will start working on the packaging and cleanup for the demo level, models, textures in the next few days.

[2016-04-12 20:59] ghost commented on #31
I still don't know how these things work, but can the shader(assuming screen-space) be composited to the world-space or z-depth?

[2016-04-13 07:54] kortemik commented on #32
Welcome back!

It's been bit quiet for a while but I say on summer holidays it's gonna be
fast.

-M

On Tue, Apr 12, 2016 at 11:49 PM, Yetta1 notifications@github.com wrote:

[2016-04-13 11:35] BielBdeLuna commented on #32
great!

I've been transferring my export map to a larger "idTechX editor" with more blender operators and menus and things so we could add entities to the maps.

[2016-04-13 11:37] BielBdeLuna commented on #31
maybe a render to texture feature can be setup, render to texture the screenspace of every instance, and keep rendering an area for as much as shaders is subjected to.

[2016-04-13 16:28] ghost commented on #31
Then destroy when it is not needed anymore.

[2016-04-13 16:40] ghost commented on #32
@BielBdeLuna Which idTechX editor? I think it would help greatly to have more Blender integrations for models, animations etc.

I'm somewhat confused about the scripting for IdTech, creating AI, weapons etc. Not sure how to code for that. The wiki can be tricky at times. I'm not too technical.

[2016-04-13 16:49] ghost commented on #32
@kortemik I'm having issues building on VS2015 and Code::Blocks, it builds to .dll's but fails on the binary. Not sure what's going on. I can't use the new snapshots from sourceforge as I don't have the dlls for the debugger.

[2016-04-13 17:22] BielBdeLuna commented on #32
I'm enhancing my map exporter to something greater than just export what is selected, something more akin to a full fledged map editor, it will take time, but little by little I'll keep enhancing it.

about the AI,and general scripting, rather than checking the WIKI I would suggest take a look in maps for map scripting and keep growing from there

to test the essential scripting you should know th

[2016-04-13 18:10] ghost commented on #25
A nice export/import script for md5mesh and anim by nemyax from the darmod forums. It works on the latest Blender 2.77a.

https://sourceforge.net/projects/blenderbitsbobs/

[2016-04-13 18:16] BielBdeLuna commented on #25
yes. it works great

[2016-04-16 00:42] ghost opened #33 "Doom3 WebGL Gangnam style"
http://playcanv.as/p/iCL6sxgF

[2016-04-16 22:41] BielBdeLuna commented on #33
this is funny! :)

[2016-05-03 11:01] ghost commented on #22
Closing this. As for the alien planet, I've lost that file long ago, plus it is still hard to do vegetation. As a replacement, I have a large city file to replace it. Still need to unwrap and texture it.

[2016-05-03 11:01] #22 closed, assigned to nobody

[2016-05-31 15:19] ghost opened #34 "OTE build issues."
I'm having issues building OTE on Windows 10, I've tried VS 2015, Eclipse and Codeblocks. All errors are different each attempt. I can't run the debug binaries provided by Kortemik on his sourceforge page, as I do not have VS 2013's debug libraries. Could one of you maybe provide me with a 64-bit release binary?

[2016-06-01 06:55] kortemik commented on #34
Hello Yetta1

https://sourceforge.net/projects/opentechengine/files/snapshot/Windows/MinGW/

These should work without debug libraries.

[2016-06-01 07:36] ghost commented on #34
@kortemik I'm currently using them, however I can't get PNG's to work on it. The PNG's are set up correctly for DarkRadiant, but in the engine itself it only renders the void. I can't seem to build the code on Windows, I've tried VS 2015, CodeBlocks, Cygwin and Mingw, all of them failed. I however did get it to build on Linux, but only a linux binary.

[2016-06-01 14:12] ghost commented on #34
It's ok, I ended up downloading VS 2013 to build it. It worked.

[2016-06-01 14:12] #34 closed, assigned to nobody

[2016-06-07 15:02] motorsep opened #35 "Not sure if you knew that, but ..."
Storm Engine 2 has been out for some time now, along with Blender add-ons for it:

https://github.com/motorsep/StormEngine2

[2016-06-07 15:23] BielBdeLuna commented on #35
yes, I've seen that, congratulations on opening the source

[2016-06-07 15:37] motorsep commented on #35
If only anyone will use it. Otherwise it's kinda pointless o.O

[2016-06-07 16:56] BielBdeLuna commented on #35
not doing it is even more pointless isn't it? we'll be looking into it in order to see what have you added to the engine

[2016-06-10 23:25] BielBdeLuna commented on #29
After much battling with it I've come to the conclusion that and idTechX editor package in Blender is pretty impossible, specially because the python scripting as it's used in Blender is far limiting that what I envision: https://www.blender.org/api/blender_python_api_2_77_1/info_overview.html

this part sums it up my restriction to the point:

I wanted to do a GUI editor and a Material editor, do

[2016-06-11 00:51] damiel commented on #29
Eventho i just started digging through the project a couple weeks ago, i would like to thank you for your work.

It could have been a great thing if everything worked out and i definitly would like to have it seen in action, but maybe its better if we focus our limited resources, after all there aren't that many doom people (left). Dark Radiant might not be the best looking thing in the world righ

[2016-06-11 01:14] BielBdeLuna commented on #29
yes, but I strictly reefer here to the in-game GUIs, I'm looking forward to add back the fullscreen GUIs as in the old Doom3, and make them work with c++ menu code, so we could have flash/GUI/ceGUI working so we could restore old functionality to gain functionality

it has been some tormenting time under the damn python code, now my feeling is of freedom!

[2016-06-11 14:26] ghost commented on #29
No problem about the Blender attempt, thank you for at looking into it. It might be better to stick to Radiant. Quetoo has an in-engine material editor I think, I think it also allows level editing,, I'm not too sure, haven't tried it. Cegui at the moment is a pain to work with, it might be better in the future when added features come. A visual material editor would be nice, maybe one that mimics

[2016-06-12 09:37] RobertBeckebans commented on #29
I solved the problem of parsing the .def files in Blender by exporting them to JSON as a console command so they can be read easily by Blender during a map import.

The following script can import entire Doom 3 maps converted to JSON into Blender:

https://github.com/RobertBeckebans/RBDOOM-3-BFG/blob/map-primitive-polygons-for-blender/blender/scripts/addons/io_import_rbdoom_map_json.py

Imported d

[2016-06-12 11:26] BielBdeLuna commented on #29
looks great, I might just continue work in the map exporter as script seeing that I still can't use darkradiant, but first I will test Motorsep's implementation of in-engine radiant.

but mark my words, python will be again a let down, it's just a script language even if they say it's a full programming language, specially the implementation in blender

[2016-06-12 11:32] BielBdeLuna commented on #29
@Robert
what is a json map? have you added an in-engine exporter to that json file format?

[2016-06-12 11:40] ghost commented on #29
@BielBdeLuna Do you have a link to motorsep's project? I've been wondering what he has been up too.

I've seen some posts on the Blenderartists forums about cython being used in Blender, maybe it could help speed things up, or maybe it's just a limited API in Blender. I'm guessing a Blender fork for just idtech would be too much maintenance, unless the UpBge guys would be interested.

[2016-06-12 12:19] damiel commented on #29
@Yetta1 StormEngine2 i suppose: https://github.com/motorsep/StormEngine2

[2016-06-12 12:26] ghost commented on #29
@damiel Thank you damiel, didn't know SE2 was shared. Interested in seeing the in-engine Radiant BielBdeLuna mentioned.

[2016-06-12 13:11] BielBdeLuna commented on #29
@Yetta1 no, imagine just the politics involved in this, nah, we're better off with Darkraidant or with (let's hope) Motorsep's initiative, or with just and import-export script, but I fear we could get trapped again in the interconnection in-between the modules of the texturing method (whatever this is ) and the ones controlling the settings, that was the reason I was adding a "idTechX context" th

[2016-06-12 13:51] ghost commented on #29
@BielBdeLuna How about maybe a projection painter for DarkRadiant or an in-engine painter to paint/apply texture layers on the bsp brushes with some sort of auto UV generation? I think Id software did something like that for Rage with its editor, can't verify as it won't run on my system. If I remember, it saves it out to a megatexture. I think it is the most important part for modern level design

[2016-06-12 18:35] BielBdeLuna commented on #29
this could be done with a single atlas map with the UV re-projected like how they are with a shadowmap (quake 1 to quake 3 shadows) but instead of using it for shadows it could be used for anything else, maybe add it's colour to the diffuse maps in the rendering stage, so it can receive shadows.

[2016-06-13 08:06] RobertBeckebans commented on #29
@BielBdeLuna The JSON map format is based off my new mesh primitives map format. So it does not use any brushes or patches. It is the same thing just in JSON. The engine can convert maps to it with the "convertMapToJSON" command and also read them. Maps in the JSON format exported by Blender can be compiled by dmap.
Also all *.def entity definitions are exported to base/exported/entities.json with

[2016-06-13 09:14] BielBdeLuna commented on #29
pretty neat then! :+1:

[2016-06-15 11:37] BielBdeLuna commented on #29
Motorsep ported Tools are just for Windows, they rely heavily with MFC tools (which is an API connection between c++ and Windows) so Linux and Macos Users are out, so Motorsep solution for tools is no solution, now I'll try old versions of Darkradiant

[2016-06-17 09:41] BielBdeLuna opened #36 "the old darkradiant in the OpenTechEngine repo doesn't compile"
I know it's an old version, and I know the fact that the ImGui are being worked in order to replace the mfc tools in the tools from doom3.

but can we get it to compile again? the current show-stopper is the boost header version, the configure file expects an older version (I think) but I don't know how to update it, this is the error I get:

[code]

any idea how to soolve this error?

[2016-06-17 09:43] BielBdeLuna opened #37 "I'll look into implementing the fullscreen GUI again"
the first step I'll try to re-implement is the GUI for loading levels, and I'll try to implement it without loosing the SWF implementation

[2016-06-17 12:37] damiel commented on #36
I was wondering what was the purpose of the fork of DarkRadiant in the first place, was it just the inactive development or something else?  I was compiling/running Darkradiant 2.0.4 and it's definitly a improvement imho, maybe we can just pull the changes from the original repo or just drop our's alltogether and use the one from upstream again?

[2016-06-17 13:52] BielBdeLuna commented on #36
I can't get the new releases of DarkRadiant to work, I get asegfault error after selecting the engine and the base folder.
And Greebo/codereader told me he was not going to test my problem on a virtual machine, I understand that he is alone maintianing the repository, so he is very fed up with solving other people's problems.
So my only remaining option is to use the old DarkRadiant, that I know w

[2016-06-17 14:37] damiel commented on #36
Hm, that sounds like an awkward spot you are in at the moment, a quick shot in the dark would be to try updating the configure script by issueing ./autogen.sh before running ./configure, or you could try compiling with the static boost version by adding `--enable-static-boost` to ./configure. If those two dont help, we need some more info to investigate like your linux distribution, what boost ver

[2016-06-17 15:08] BielBdeLuna commented on #36
yes at the moment I can't map for the engine.

I already did the autogen.sh, but the configure, whether I do the autogen.sh or not, still fails at the same spot.

I just tested: ./configure --enable-static-boost and it still fails the same way

I have all libs necessary for the compilation, although libgtksourceviewmm-2.0-dev no longer appears in the repositories I have the current: libgtksourcevi

[2016-06-17 17:55] damiel commented on #36
Checking the configure.sh of both versions, there seems to be a difference in handling the version string

For the old DarkRadiant it's:

if (eval "$ac_cpp conftest.$ac_ext") 2>&5 |
  tr -d '\r' |
  $SED -n -e "/^boost-lib-version = /{s///;s/\"//g;p;q;}" >conftest.i 2>&1; then :
  boost_cv_lib_version=`cat conftest.i`
fi

starting from line 18804

While for newer versions of DarkRadiant it's:

if

[2016-06-17 22:23] BielBdeLuna commented on #36
thanks! now it finished ./configure without a hitch

github eliminated the accents needed for a part of the code (that's the reason it has some part of the code that has a different format) so this is the actual code:

[code]

[2016-06-17 23:32] BielBdeLuna commented on #36
compiled fine, installed fine but I end up with an segfault at the same place of the new versions! that is after selecting the right engine it keeps loading stuff and when it's about to load the x/y/z screens for working it segfaults... now I can test this ./configure solution for all the versions I can get from greebo/codereader and see if I get a consistent place of the error, maybe it's when op

[2016-06-18 00:16] BielBdeLuna commented on #36
now I'm trying to compile the 1.8 release, the same ./configure solution applies, ./autogen.sh works, ./configure works but now the make fails to compile:

[code]

--edit--

well not entirely true, autogen.sh also fails here (it didn't before):

[code]

--edit2--
no need to do autogen.sh first, now this old version of Darkradiant is compiling

[2016-06-18 01:12] BielBdeLuna commented on #36
damn it fails while compiling the plugins when it has already compiled the whole of the program! I'll try to fix this in order to see if I can make it work...

[2016-06-18 01:44] damiel commented on #36
Would it be possible for you to try debug DarkRadiant when the segfault is happening and provide the backtrace to either here or Greebo?

[2016-06-18 01:59] BielBdeLuna commented on #36
I'll try to, but if I could get the 1.8 version to run then the error is generated in the commits inbetween october 2013 to july 2014, that is between 1.8 and two months before the next release (which is the one in OTE/Darkradiant)
--edit--
solved the error with a future commit form the past! great-scott Marty!

[2016-06-18 12:00] BielBdeLuna commented on #36
what is the way to compile it with the debug profile (grebbo's current commits, not the one in OTE repository)

[2016-06-18 13:26] damiel commented on #36
You should be able to compile it with `./configure --enable-debug`.

[2016-06-18 13:31] BielBdeLuna commented on #36
Darkradiant 1.8 has the same error, I'm starting to hate Darkradiant with a passion!
It reminds me why I wanted to do a Blender editor for idTechX... and still makes it a sane idea despite the python implementation in Blender

@damiel thanks for the help! I'll try to compile the newest DR with the debug profile

[2016-06-20 13:10] motorsep commented on #29
Eeh, it's a solution for people on Windows, which is majority of developers. Also can run it under WINE on Linux until someone (which will not going to happen in our lifetime) will port the tools to Qt.

Darkradiant is a level editor. Particle Editor it comes with is not as good as Storm Engine 2 improved Particle Editor. Not to mention GUI Editor, DoomScript Debugger, etc.

Just saying...

[2016-06-20 14:58] ghost commented on #29
I think some people have found it easier to retool MFC to wxWidgets on Linux. I might be wrong.

[2016-06-20 15:04] motorsep commented on #29
Or that. Although I see how DarkRadiant port to wxWidgets has been going and I don't think it has been a smooth ride.

Also, someone already ported Light Editor to Qt. So there gotta be base code in place that connects engine with Qt. Would be easier to build upon that.

[2016-06-20 15:06] motorsep commented on #29
Or you could just use Storm Engine 2 and continue improving it, since it's already more stable, more featureful  and performant than OpenTech ;)

[2016-06-20 15:13] ghost commented on #29
I think I downloaded SE2 the other day, haven't gotten around to trying it, I've been playing around with DarkPlaces and Xonotic lately. Work is keeping me quite busy, I still need to finish the models and animations, and get exporting to work in Blender. The iqm format doesn't seem to bad though. Just MD5 headaches. Would be cool if the engines could support Q3/RTCW bsp versions. I think some mod

[2016-06-20 15:20] motorsep commented on #29
Xonotic is going to abandon DarkPlaces soon. They are moving to some Q3-based engine (Unvanquished uses it).

I think the strength of idTech 4 compare to other engines is being all real-time - no extensive map compiling needed (takes hours to build Q3 maps with good lighting and can't edit anything in real-time), everything (unless C++ rebuilding is involved) can be tweaked and tuned while playing

[2016-06-20 15:25] motorsep commented on #29
The core issue with working on all of these FOSS engines is if no one is making any games using it, what's the purpose of developing and polishing such engine?

At this point I think either someone needs to take Storm Engine 2 and make _any_ project using it, or Storm Engine 2 needs to be adjusted to run Doom 3 BFG content so it could be used for modding, or @RobertBeckebans and Co. could pull out

[2016-06-20 15:36] ghost commented on #29
I didn't know Xonotic was changing the engine, no one on the irc channel mentioned it to me so far. Maybe a shift to a modded ioQuake3. Open Arena is also changing to some modded engine with an asset overhaul. My only issue with Xonotic and DarkPlaces so far are the bots, many bots (8-16) hit my quad-core quite hard.

I know what you mean by the lightmap build times with Q3map2, especially with hi

[2016-06-20 15:56] motorsep commented on #29
That's one of the reasons I abandoned FOSS engines (I have a small project in works using Steel Storm as a base, but once/if it's done I don't think I ever want to touch Darkplaces again) and moved to UE4.

[2016-06-20 16:05] ghost commented on #29
I'm beta testing UT4, however my system is ancient by todays standards, would like to get into UE4 once I buy a new rig, just waiting for Zen and to see how it performs before deciding.

[2016-06-20 16:35] motorsep commented on #29
Mine is ancient too, but the prospects of actually getting project finished outweigh a bit sluggish development process :)

[2016-06-21 09:38] BielBdeLuna commented on #29
I've been looking into the Steel Storm2 engine, and it has a lot of good features we could port.

on the engine tools, we have to develop them, it's the most under-developed of the parts of the BFG derived engines, besides that, the engine is quite capable of corridor shooters like doom3, a lot has to be improved in order to make open world games, but this could come in the future.
A milestone fro

[2016-06-21 11:34] ghost commented on #29
I've been chatting to someone on the iodoom3 irc, busy learning to make assets for Dhewm3, I told him/her about OTE, they might with assets as well. We both talked about the possibility of a coop styled game similar to Left 4 Dead. Both of us are working on cyberpunk themed assets, so we may work together. The assets i'm working on is currently aimed at a small single episode game, similar to Doom

[2016-06-21 13:32] motorsep commented on #29
@Yetta1 SE2 is a bare bones engine. It won't load any maps until you add basic defs, player and basic scripts. Same as Doom 3 engine if you strip it off content.

I only put enough content so that you can run engine and get into menu. That's all. The rest is up to developer to add their defs, etc.

Btw, why are you so attached to OGG?

[2016-06-21 13:33] BielBdeLuna commented on #29
with Storm Engine 2 i can't help, because it segfaults when loading up.

OGG should be fine for music and long ambient tracks

[2016-06-21 13:41] BielBdeLuna commented on #29
for guis on models you have to have one of the gui textures in the model and then add a "gui" spawnarg with it's key as the path to the gui file, like this:

`"gui" "guis/maps/crane_control.gui"`

then the GUI will appear in the GUI texture in the model, for multiple models I guess there are at least up to 3 gui textures, and then maybe use the spawnargs "gui1" "gui2" "gui3" (but I'm not sure abou

[2016-06-21 13:44] motorsep commented on #29
@BielBdeLuna Did you debug to see why it crashes? Are you on Linux using FOSS driver? (which we chose not to support because people have a choice and can choose to use drivers that work)

BFG engine has its own compression (similar to MP3) for audio. I don't see any benefit for having OGG. Just more external libs and more potential incompatibility and issues.

[2016-06-21 13:47] ghost commented on #29
@BielBdeLuna I'll have to take a look at how the gui elements were done on D3 for ammo depletion etc. I remember something about the texture from an old tutorial from a decade ago.

Does BFG still use the same gui system from D3 for the weapons or is it flash?

Doesn't ffmpeg already give access to audio formats like vorbis, aac etc?

[2016-06-21 14:00] motorsep commented on #29
Yeah, BFG uses old GUI stuff for anything done in-game. Flash is only for full screen GUIs.

[2016-06-21 14:23] ghost commented on #29
Ok that's good, not looking forward to using flash for anything.

@BielBdeLuna Off-topic: Isn't there a console command to generate lighting from the skybox for a lightmap?

[2016-06-21 14:48] ghost opened #38 "Fullscreen mouse"
I can't use the mouse when in fullscreen, it only moves when in windowed mode. It also stops me from typing in the console.

[2016-06-21 16:04] BielBdeLuna commented on #29
no, there's nothing related to lightmaps in the current implementation of the engine

Although Sikkpin implemented a image based renderer for ambient light (using skybox as environment probes) now this was done with ARB shaders and I don't remember if there where c++ code released form it

[2016-06-21 16:22] ghost commented on #29
Would it possible to add a lightmap system like the one found in ioQuake3 to bake with Q3map2? Then maybe just get lighting from the skybox mix with rt lights. Or how did Rage get its daylight?

[2016-06-21 16:54] BielBdeLuna commented on #29
with source at hands it's possible, but it could be difficult, in terms of shaders a lightmap it's just another term to add to the shader mix, but with lightmaps you go back to an old technology, with it comes everything becoming static (like in rage) I think it's the wrong way to go, but we could have an implementation ready in the engine in case someone would want it.

[2016-06-21 16:56] BielBdeLuna commented on #29
I think we should make a document with all the ideas we agree to implement

[2016-06-21 17:05] ghost commented on #29
Baking lightmaps with Q3map2 can take long, however even if the deluxel technique seems old, it is still in use with modern engines. I've noticed it with UE4 and Unity, where it bakes lightmaps during mapping, which can be annoying as it slows down performance when those features are on. Static lightmaps for daylights and ambient fill can help performance.

Trying to fake daylight in D3 just looks

[2016-06-21 17:10] ghost commented on #29
Maybe a skybox probe to bake to lightmap volumes, then areas without the volume can go really dark. Otherwise a skybox+lights+distance=bounce light/radiosity.

[2016-06-21 17:47] BielBdeLuna opened #39 "create a document for ideas we could implement"
I propose to create a document with ideas we want to implement, with ideas we have, and with ideas we agreed to implement

we could also add how we think we could implement the ideas

what do you think?

[2016-06-21 17:59] BielBdeLuna commented on #29
that's the reason to use the environment probes that Robert is/was working on, at the moment is an unfinished implementation, but the idea is the have a static ambient light system much more realistic than the static ambient lights in vanilla doom3. now this system should both allow to have a more realistic ambient light and also static more correct reflections

[2016-06-21 18:32] ghost commented on #29
Looking forward to it.

[2016-06-21 19:41] ghost commented on #39
From the top of my head
1. Metric measurement support, for more realistic scaling and ArchVis interest.

The Doom 3 character is roughly over 2 meters in Blender when scaling has been set for Doom 3 modelling, that's a big guy. Setting the scale for Doom editing in Blender sometimes makes it hard to work with the grid. Maybe the exporting add-ons can save out models modelled with the standard grid

[2016-06-24 12:48] ghost commented on #39
The shadows also need some work on bias and clipping distances, I have situations where the shadows get a major offset, looks disconnected. I've played around with many values for the cvars, no luck getting shadows to start at the point of origin.

[2016-06-24 13:36] motorsep commented on #39
Shadows work better in SE2 as we did some modifications to the shadow mapping code.

[2016-06-29 13:50] damiel commented on #39
I would give +1 for the revival of the old doom menu gui to have some more options besides the flash based menu and cegui.

[2016-06-29 18:41] motorsep commented on #39
You might want to check out this fork https://github.com/eXistence/fhDOOM

[2016-06-29 22:47] BielBdeLuna commented on #39
yeah I have seen fhDOOM, it's quite interesting

@damiel I'm currently studying it on how to approach it. https://github.com/OpenTechEngine/Discussions/issues/37

[2016-06-30 13:59] motorsep commented on #39
fhDOOM has no threading and tools, but it seems to have everything else.

[2016-07-02 03:34] ghost opened #40 "Current engine state"
I was checking out this game called Scorn, it's a horror adventure inspired by H.R Gigers art.
There is very little footage in the trailers of the game-play, but from what i've seen it looks impressive. I have been playing around with the rendering cvars and consider the capabilities between RBDoom3BFG, OpenTechEngine and Storm Engine 2 to same type of graphics from Scorn. I'm not sure what engine

[2016-07-03 16:56] BielBdeLuna commented on #40
good art makes any engine shine

[2016-07-03 18:36] ghost opened #41 "Weird texture distance bug"
![bugg](https://cloud.githubusercontent.com/assets/8399958/16547010/a9c31bc8-415d-11e6-840e-b7e33699f456.jpg)

The texture rotates when moving away. It's in the png format, 128x512/

[2016-07-03 18:41] ghost commented on #41
Nevermind, it turns out that one of my programs saved it out as 129x513. Fixed the sizes, it works.

[2016-07-03 18:41] #41 closed, assigned to nobody

[2016-07-03 18:44] ghost commented on #40
There is a slight difference between the old rendering methods textures and PBR. Most of my textures are made for PBR output, it looks great in AwesomeBump, but incorrect in IdTech. We'll have to see the results once PBR is implimented in the engine.

[2016-07-03 21:24] BielBdeLuna commented on #40
AwesomeBump? Is this an Unreal Engine term?

How are you making your textures? are you making roughness textures? are you making plain textures for the specular power?

[2016-07-03 22:12] ghost commented on #40
AwesomeBump is an open source texture tool. http://awesomebump.besaba.com/

They have a github repo as well. https://github.com/kmkolasinski/AwesomeBump

There are options for PBR an traditional, but the differences are visible.
It can generate the following from a single diffuse texture:
Normal Map
Height Map
Occlusion Map
Specular Map
Metallic Map
Reflective Map

It took a while to get use too,

[2016-07-04 00:29] BielBdeLuna commented on #40
ok, seems very interesting!

[2016-07-04 14:06] ghost opened #42 "Material Shaders and alpha channels"
I can't seem to get alpha channels to work with PNG's or TGA's in OTE, I've tried various material code from D3, but the texture ends up being completely invisible. Can someone maybe give me working material scripts?

[2016-07-05 13:35] ghost opened #43 "Temporary assets"
Mario from Xonotic agreed that we can use their assets. It's taking me too long with making OTE assets. So for now i'll be converting Xonotic assets for OTE so we can start testing sooner. Xonotic falls under GPLV2.

[2016-07-05 13:43] kortemik commented on #43
Would you be able to share what you have already created, I think there are couple of people who would want to help!

[2016-07-05 13:58] ghost commented on #43
Not yet, there is still a lot that needs to finished up on what I have, like UV unwraps and texturing for models and animations. Some textures need to be altered or redone as I didn't follow a set colour palette, which makes it look out of place. I can maybe release a set of assets next month, though it might be incomplete in some parts.

[2016-07-06 01:45] ghost opened #44 "Shader features"
I'm not sure what improvements have been added into the shaders. Just dropping some suggestions here.

Anistropic specular
Parallax
Self-shadowing relief
texture based lighting/dynamic?
Subsurface scattering

[2016-07-06 10:39] BielBdeLuna commented on #44
can't anisotropic specular be faked with normal maps?

I think the specular reflections have to be rethinked by either replace them completely or make them more PBR related. the concept of texture based specular power might go against the energy conservation concept of the PBR, after the icnlusion of a roughness system we have to find a way to do the specular reflection power taking into the angle

[2016-07-06 10:41] BielBdeLuna commented on #43
I'd like to make the scripting, in fact I'm working on the pistol script (making it a generalist script for all gun type of weapons) and I'm incorporating a method for automatic shooting and semi automatic shooting. with ironsight animations, and with other stuff

[2016-07-06 10:44] BielBdeLuna commented on #43
in dhewm3 c++ code that should be really easy to transfer to RBDoom3BFG or OTE code I have a overheat for gun type of weapons, that can be used for all weapons. it's ready to work with even a GUI implementation (of course for old GUIs)
https://github.com/BielBdeLuna/dhewm3/tree/weapon_overheat

and I have also a c++ implementation of circle of pain like modern shooters where in the middle of the s

[2016-07-06 11:34] damiel commented on #43
I would love to see ote sport some more assets, it certainly would help me test thing while doing my 3d wizardry.

[2016-07-06 12:33] ghost commented on #44
@BielBdeLuna I'll have to take a look into it. PBR spec/gloss maps are different from the old render system. I get many cases where a well lit room would end up drowning out most textures, making it mostly white. Enabling HDR and exposure increases it even more. The spec maps usually have a black/grey range, with bright regions usually say for example edges of a worn metal surface.

For subsurface

[2016-07-06 12:44] ghost commented on #43
I plan to release an asset pack at the end of the month, it will contain some textures, maps, models, animations and some sounds.

This will include a reimagined remake of Dooms E1M1 map, a small apartment and a Quake 3 styled map, Player model (busy working on creating a better more modern one), Blaster pistol(shoots plasma rounds), Sledge Hammer(fists, crowbars, chainsaws, katanas, axes already

[2016-08-06 17:32] BielBdeLuna opened #45 "Compiling from Linux for Windows"
I might be in a position where I might have to compile OTE for windows, for a team that wants to do some mod for Doom3, now I don't have access to a Windows machine. I wonder can code be compiled following the compilation in the readme from within Wine?  is there any option for a cross operating system compile solution, in Dhewm3 there was "mingw-w64" but I never used it, and I guess it was a cros

[2016-08-06 17:53] BielBdeLuna commented on #45
I've tried the first step, and Wine stops with an error, I guess I'm better off searching a windows machine to compile it.

[2016-08-06 22:05] BielBdeLuna commented on #45
I tried calling the mingw inspired on the bat file that tries to call it. but it has been unsuccessfully, now I asked about it in https://github.com/RobertBeckebans/RBDOOM-3-BFG/issues/340 to see if they knew anything about it... any idea ?

[2016-08-06 22:40] damiel commented on #45
Well mingw is useful for two cases, first to compile on windows using gcc and second to compile binaries that target windows on linux aka cross-compilling.

The dhewm 3 readme gives you a good hint what you have to do:

Ofc, you have to adapt stuff as we dont have ddhewm3libs(omit that switch) with a mingw compiler in it, on ubuntu you can install  a mingw compiler with the package mingw-w64.

[2016-08-06 22:47] BielBdeLuna commented on #45
yes I've seen this, but where do I set all those "sets", can we make a "generator" that appears on the list of generators for the script to call it? where are those "generators" defined?

[2016-08-06 22:51] damiel commented on #45
You create a file called Toolchain.cmake or MyMagicUnicorn.cmake and put the settings in it, then you point to it with the -DCMAKE_TOOLCHAIN_FILE=/path/to/Toolchain.cmake switch to it. The generators are defined by cmake itself, in theory you should be able to call the mingw generator once you have mingw installed. (probably have to close and reopen your shell once you installed mingw)

[2016-08-06 22:57] BielBdeLuna commented on #45
ok so the *.sh file would read like something like this:

[code]

isn't it? and where should I save this prude "MyMagicUnicorn.cmake" file, alongside the scripts, or is there a more appropriate place?

[2016-08-06 23:01] damiel commented on #45
Placing the file is up to you, id probably place it alongside with the other cmake files inside of the neo directory and add -DCMAKE_TOOLCHAIN_FILE=../neo/Toolchain.cmake

[2016-08-06 23:06] BielBdeLuna commented on #45
oh, now I see that OTE has already the mingw32.toolchain.cmake and the cmake-eclipse-mingw-debug.sh files! RBDoom3BFG lacks the toolchain, If the sh works I'll do a pull request so they have this also!

[2016-08-06 23:16] BielBdeLuna commented on #45
oh snap! I don't have DirectX! :)

[code]

we might have to create a "if(unix)" section in FindDirectX.cmake ?

[2016-08-06 23:48] damiel commented on #45
My bad, completly missed those files. This one might be worth a try : http://stackoverflow.com/a/3817763

[2016-08-06 23:58] BielBdeLuna commented on #45
but Directx from 2007 isn't too old for BFG? is directx needed for the sound on Windows? if so can't we use OpenAl for Windows?

[2016-08-07 00:09] damiel commented on #45
Well you can always try to install newer versions of directx on wine, not
sure if its going to work. I am not 100% sure for what directx is used, i
know we have xaudio2 for windows for sound buts thats about what i know on
this topic.

2016-08-07 1:58 GMT+02:00 Biel Bestué de Luna notifications@github.com:

[2016-08-07 00:30] BielBdeLuna commented on #45
a quick search in the code for the term "DirectX" reveals:

directx is for ffmpeg and xaudio, can we pass without them as a testbed? deactivate them so no more DirectX for the moment? and see if it compiles

[2016-08-07 13:51] damiel commented on #45
Ffmpeg is disabled by default if i am not mistaken and xaudio is used for sound on windows only but i think you can turn it off and make the engine use openal instead ( not sure how well tested that is). Just give it a shot, we might aswell learn something from it :)

[2016-08-08 15:42] BielBdeLuna commented on #45
I deactivated FFmpeg and forced OpenAL in CMakeLists.txt:

[code]

and in linux it compiles fine, audio works (as usually) and the videos no longer play

but attempting to compile with mingw it keeps stoppping because the need for DirectX.

could it be that DirectX is also used for input instead of SDL2 (it doesn't seem to be that way in the code but the fact that it attempts to search for a: "Dir

[2016-08-08 15:50] BielBdeLuna commented on #45
yes examining CMakeLists.txt deeper. I see there are any SDL reference in MSVC (that I guess it's Windows) and there are references to DirectX, I wonder what would happen if I force SDL there in replacing any DirectX for SDL...

[2016-08-08 16:15] kortemik commented on #45
See https://travis-ci.org/OpenTechEngine/OpenTechBFG/jobs/147780640

On Mon, Aug 8, 2016 at 6:50 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-08-08 17:57] BielBdeLuna commented on #45
this is exactly how I have the the script that calls cmake

[2016-08-13 11:07] damiel commented on #45
I did some searching for your problem and found a interesting comment in our main cmake file:

if(NOT MSVC)
  # on other platforms we must use openal because they don't have xaudio - and mingw is missing XAudio2.h
  # FIXME: can we somehow have it default to OFF on windows and ON everywhere else?
  set(OPENAL TRUE)
endif()

Maybe you can try getting the XAudio2.h from somewhere and place it in the

[2016-08-13 18:35] BielBdeLuna commented on #45
I'll try, I'm also attempting a cross-compiling on Dhewm3 which I'm facing with some additional problems. It's possible that we would need the binaries for SDL and even for Directx just like we have them for Dhewm3. in dhewm3 in the binaries pack more that having the complete code for OpenAL we have the c++ connection to OpenAL (just like how Doom3SDK had the c++ connection to the renderer)

I won

[2016-08-14 14:54] kortemik commented on #45
I don't quite understand the problem? OTE compiles with mingw on linux to windows just fine as seen on CI and we have releases automated from CI with tagged commits

[2016-08-14 17:29] BielBdeLuna commented on #45
Yes, I was trying it with RBDoom3BFG trying to port the process to RBdoom3BFG, as I thought RBDoom3BFG would be far easier as it uses less external libraries, well I was completely wrong.

Now I've seen there's a sh file: cmake-eclipse-mingw-debug.sh

compiled fine, and triying in windows in needs all the dll generated from cegui

it generated an OpenAL.dll which I copied too

and when I try to en

[2016-08-14 18:05] kortemik commented on #45
Those files are gcc runtime dlls which you can find under mingw bin
directory if i recall.

On Sun, Aug 14, 2016 at 8:29 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-08-14 19:13] BielBdeLuna commented on #45
OpenTechEngine.exe expects:

[code]

I couldn't find the first on the Mingw folder so I downloaded from the net

but now OpenTechEngine.exe fails with what I guess it's a segfault for windows
"The application couldn't be initiated correctly(0x000007b)"

Is there a way to see the same content from a Linux console in Windows7?

[2016-08-14 20:25] kortemik commented on #45
at least running in gdb shows the shell output, i'd expect the same from
mingw/cygwin prompt

On Sun, Aug 14, 2016 at 10:13 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2016-08-14 21:36] BielBdeLuna commented on #45
what is gdb?

[2016-08-14 21:55] damiel commented on #45
The Gnu Project Debugger: https://www.gnu.org/software/gdb/

2016-08-14 23:36 GMT+02:00 Biel Bestué de Luna notifications@github.com:

[2017-03-08 14:27] drequivalent commented on #43
Yetta1, is there any progress on that?

[2017-03-08 15:46] drequivalent commented on #39
Here are some ideas I've been kicking around:
1. Subtractive BSP mapping.

This one may be tough, but it will improve accessibility of mapping thousandfold.
The idea is, to have support for Unreal-style map editing method, where the map's insides are carved out of the void, without having to manually build walls, which block the view. One example of implementation: https://csclub.uwaterloo.ca/~jms

[2017-03-08 16:13] BielBdeLuna commented on #43
I'm working on a md5 player model fully animated in therms of displacement movement, for a mod I'm working on as soon as I finish it I'll upload the results, it will be very useful for implementing the OGEX model format.

[2017-03-08 16:18] BielBdeLuna commented on #39
no, BFG3 is not different when handling assets, it only lacks ogg and GUI support from the original d3 the rest it's the same.

I agree we have to make something to lower the barrier to entry and I don'0t think dark radiant is a real answer here, I think we should work on an ingame-editor and go the CryEngine way of WYSIWYG

[2017-03-08 16:21] BielBdeLuna commented on #39
basically a "pause" mode where entities and their properties are highly interactuable. and a new brush system for "pause" mode so we can still make brushes and paint surfaces, although in the modern videogames paradigms brushes seem to be more and more irrelevant isn't it?.

[2017-03-08 16:29] drequivalent commented on #39
Don't IdTech 4 maps have to be compiled before they can run? I mean, you have you .map file with brushes in text, and then you build maps with compiler (q3map2 or what have you). Or am I too stuck with iDT1-3 kind of workflow I've seen in Darkplaces and now things are different?
Sorry, I just basically built my first idt4 last week, and don't know much yet about it, I just see a huge potential, th

[2017-03-08 16:31] drequivalent commented on #43
That's interesting, can't wait to see that

[2017-03-08 16:50] drequivalent commented on #39
Oh, one more:

5. TTF font and Unicode support

Hell, Darkplaces has it.

[2017-03-08 17:03] BielBdeLuna commented on #43
I'm reworking all my disks organization at the moment, I just need to finish the shuffle animations for running (side-steps for the run gait) then we should have not only the animations for movement (npc's and player's) but their script done

[2017-03-08 17:08] BielBdeLuna commented on #39
don't the engine already support Unicode? bfg has Japanese and Russian support, it can do accents and other symbols from many languages.

[2017-05-01 17:45] BielBdeLuna opened #46 "Errors detected while attempting to play d3bfg as a submod of OTE"
d3BFG is at the moment to only game that should be playable in the OTE  but ATM it isn't playable as a mod of it. making it playable as a mod should allow us to detect errors in the engine that should be sorted out.

1 - mod files aren't yet priority over files packed in *.resources files:
Making  fs_resourceLoadPriority default as 0 should allow modding in case of having *.resources files in the

[2017-09-16 10:47] BielBdeLuna opened #47 "[OTE 2017 Vision]"
Damiel and Me have been speaking lately about the nature of the project, we feel the project lacks planning and a common vision, at the moment it’s just a couple of individuals working here and there without a clear direction, we propose a way to define a clearer direction with a defined set of steps, we propose that during the next week we have free proposals posted on the ‘forum’, each on on it’

[2017-09-21 08:52] BielBdeLuna opened #48 "[OTE 2017 Vision] – a communal and open approach"
Open Tech Engine is creative cooperation applied to game development.
Open Tech Engine Achieves cooperation through creative means.
Open Tech Engine strive for meaningful functionality as the basis for different applications.

A stepped process:

1 - building a meaningful community.
The best way to hold a community together is trough having a modifiable platform, and having a genuine interaction w

[2017-09-21 21:54] damiel opened #49 "[OTE 2017 Vision] – Technical ideas and clean up of the engine"
Biel's vision is a good foundation to build on and i would like to further enrich it with technical ideas to make the engine a more stable bases for development, easier to maintain and extend and more accesible to content creators.

The codebase is quiet big with alot of moving parts, but some of these parts are outdated or legacy stuff which makes it unnecessarily hard for our small team to maint

[2017-09-21 22:13] BielBdeLuna commented on #49
I like it all, I propose we merge the two proposals

[2017-09-23 08:57] damiel commented on #49
Maybe one more addition would be to finally deprecate our usage of sdl 1.2 and switch on sdl2 by default, this will also fix OTE running on macOS as it relies on code from sdl2 to work properly.

But yes i think merging the proposals is the way to go here as my ideas are meant as enrichment anyways.

[2017-09-23 09:01] BielBdeLuna commented on #49
and also deprecate the use of JPG for textures, it's a lossy compression for textures, and we already have TGA and PNG for this that aren't lossy.

today I'll post the combined proposal.

[2017-09-23 13:11] kortemik commented on #49
I don't have time to commit but I'd prefer something playable, a level, a
character and perhaps a weapon or two and few targets to shoot.

Otherwise it's just fun programming practice.

On Sat, Sep 23, 2017 at 12:01 PM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2017-09-23 18:16] BielBdeLuna commented on #49
Seeing that the changes @damiel proposed are of a general nature, and are more argumented.
I might merge the two proposals as one but I won't mix them, so the length of his argumentation don't conflict with the shorter nature of my [proposal](https://github.com/OpenTechEngine/Discussions/issues/48) for a stepped process.

[2017-09-23 18:20] BielBdeLuna commented on #49
Open Tech Engine is creative cooperation applied to game development.
Open Tech Engine Achieves cooperation through creative means.
Open Tech Engine strive for meaningful functionality as the basis for different applications.

A stepped process:

1 - building a meaningful community.
The best way to hold a community together is trough having a modifiable platform, and having a genuine interaction w

[2017-09-23 18:21] BielBdeLuna commented on #49
I would like to add also the following provision for changing such vision and stepped process:

and also a technical proposal of mine:

 what do you people think?

[2017-09-23 18:22] #48 closed, assigned to nobody

[2017-09-25 18:54] BielBdeLuna commented on #49
this has my vote

[2017-09-25 19:16] kortemik commented on #49
+1

[2017-09-26 16:34] BielBdeLuna opened #50 "GLSL instead of CG"
With the last commit we have GLSL as the sole language for the engine, currently we generate the GLSL files from the original CG files the engine came with, once generated the GLSL files, the CG files are no longer needed.

This method was already used by doom3BFG where GLSL files and HLSL files where being generated from CG files (HLSL and CG being both created in part by Microsoft, are very simi

[2017-09-26 18:40] damiel commented on #49
+1

[2017-09-30 11:55] damiel opened #51 "Thoughts and opinions about gitter integration"
Hello everybody,

today i would like to gather thoughts, ideas and opinions about the integration of gitter into our community.

These days i find it hard to connect with everybody involved in OTE and people that are interested in using and contributing to OTE and i feel gitter could make this easier. Gitter offers a tight integration with Github which makes is very accessible for everyone involve

[2017-09-30 12:24] BielBdeLuna commented on #51
seems like a good idea, I'm up for it

[2017-10-01 10:48] damiel commented on #51
I created a gitter community and added a channel to it for our OpenTechBFG repository and also added a badge to our README so interested people can access it more easily. Lets see how it goes, if we decide we dont like it we can always remove it.

[2017-10-03 11:14] BielBdeLuna commented on #49
vote passed! :+1:

[2017-10-03 11:17] BielBdeLuna commented on #47
[OTE 2017 vision]

Open Tech Engine is creative cooperation applied to game development.
Open Tech Engine Achieves cooperation through creative means.
Open Tech Engine strive for meaningful functionality as the basis for different applications.

A stepped process:

1 - building a meaningful community.
The best way to hold a community together is trough having a modifiable platform, and having a ge

[2017-12-16 13:37] kortemik opened #52 "Graphing?"
http://wiki.ogre3d.org/Ogre+Line+Chart

[2017-12-17 01:15] BielBdeLuna commented on #52
interesting, may be good for displaying sound?

[2017-12-17 09:18] kortemik commented on #52
I was more thinking of fps and such graphs but might do for audio
visualization as well!

On Sun, Dec 17, 2017 at 3:15 AM, Biel Bestué de Luna <
notifications@github.com> wrote:

[2017-12-17 13:54] BielBdeLuna commented on #52
and could be useful also for interactive texture maps for volumetric GUIs

[2018-09-30 23:01] ForserX commented on #17
If someone is interested in XRay Engine, then you are welcome: https://github.com/xrOxygen/xray-oxygen